body {
    text-align: center;
}

fieldset {
    width: 700px;
    margin: auto;
    margin-top: 80px;
    border-radius: 6px;
}

form {  /* 회원가입 박스 */
    margin: 0 auto;
    /* margin-top: 200px; */
    width: 450px;
    height: 455px;
    padding: 10px;
    border: 1px solid rgb(0, 53, 89);
    border-radius: 12px;
    text-align: center;
    position: relative;
    top: 70px;
}


legend {
    text-align: center;
    font-size: 32px;
}

.input-join-field{
    margin-top: 0px;
}

input {   /* 입력란들 */
    font:inherit;
    display: block;
    margin: 10px auto;
    margin-top: 15px ;  
    width: 300px;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 6px;
}


input::placeholder {
    font-size: 16px;
}

#select-gender {
    display: flex;
    justify-content: center;
    width: 80px;
    margin: auto;   
}

.select-gender {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    margin-bottom: 16px;
}

.select-gender input[type="radio"] {
    display: none;
}

.select-gender label {
    display: inline-block;
    cursor: pointer;
    padding: 8px 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 0 8px; /* Add some space between each button */
    font-family: 'BMDOHYEON';
}

.select-gender input[type="radio"] + label {
    margin-left: 0; /* Remove margin from the first button */
}

.select-gender input[type="radio"]:checked + label {
    background-color: rgb(11, 154, 167);
    color: white;
    border-color: rgb(11, 154, 167);
}

button {
    margin: 128px auto;
    margin-bottom:0;
    padding: 20px 96px;
    font-size: 16px;
    color: white;
    background-color: rgb(11, 154, 167);
    border: 1px solid rgb(11, 154, 167);
    border-radius: 6px;
}

button:hover {
    background-color: rgb(55, 196, 170);
    border: 1px solid rgb(55, 196, 170);
    border-radius: 6px;
}

#return_to_login {
    display: block;
    text-decoration: none;
    color: gray;
    margin: 20px;
    padding: 0;
}

#return_to_login:hover {
    color: rgb(0, 53, 89);
}
