h2 {
    text-align: center;
    font-size: 40px;
}

form {
    margin: auto;
    margin-top: 160px;
    width: 40%;
    padding: 16px;
    border: 1px solid rgb(0, 53, 89);
    border-radius: 12px;
    text-align: center;
}

form input {
    display: block;
    width: 60%;
    padding: 20px 20px;
    font: inherit;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 8px;
    border: 1.5px solid rgb(11, 154, 167);
    border-radius: 6px;
}

input:focus {
    border: 2px solid rgb(0, 53, 89);
}

button {
    width: 60%;
    display: block;
    margin: 32px auto;
    padding: 16px 80px;
    border-radius: 6px;
    border: 1.5px solid rgb(11, 154, 167);
    background-color:  rgb(11, 154, 167);
    font-size: 24px;
    color: white;
}

button:hover {
    border: 1.5px solid  rgb(55, 196, 170);
    background-color: rgb(55, 196, 170);
    color: rgb(0, 53, 89);
}

/* 
#join {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(0, 53, 89);
    padding:0;
    margin: 0;
}

#join:hover {
    color: rgb(55, 196, 170);
} */

#a {
    margin: auto;
    text-align: center;
    padding-top: 32px;
    font-size: 16px;
}

.a {
    text-decoration: none;
    color: gray;
    padding: 16px;
}

.a:hover {
    color: rgb(0, 53, 89);
}
