h2 {
    font-family : 'Oleo Script Swash Caps', sans-serif;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 30px;
}

form {    /* 로그인 박스 전체 */
    margin: auto;
    margin-top: 200px;
    width: 700px;
    height: 400px;
    padding: 16px;
    border: 1px solid rgb(0, 53, 89);
    border-radius: 12px;
    text-align: center;
}

form input {   /* 아이디, 비밀번호 입력 박스 */
    display: block;
    width: 400px;
    padding: 20px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 8px;
    border: 1.5px solid rgb(11, 154, 167);
    border-radius: 6px;
    position: relative; /* 로고(h2) 기준 */
    top: 30px; 
}

input:focus {
    border: 2px solid rgb(0, 53, 89);
}

#btn-login {    /* 로그인 버튼 */
    width: 500px;
    height: 50px;
    display: block;
    margin: 20px auto;
    /* padding: 16px 80px; */
    position: relative;  /* 구조상 부모요소(pw입력박스) 기준으로 position 값 지정 */
    top: 45px;
    /* bottom: 20px; */
    border-radius: 6px;
    border: 1.5px solid rgb(11, 154, 167);
    background-color:  rgb(11, 154, 167);
    font-size: 24px;
    color: white;
}

button:hover {
    border: 1.5px solid  rgb(55, 196, 170);
    background-color: rgb(55, 196, 170);
    color: rgb(0, 53, 89);
}

/* 
#join {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(0, 53, 89);
    padding:0;
    margin: 0;
}

#join:hover {
    color: rgb(55, 196, 170);
} */

#a-find {
    margin: auto;
    text-align: center;
    padding-top: 32px;
    font-size: 16px;
}

.a-find {
    text-decoration: none;
    color: gray;
    padding: 16px;
}

.a-find:hover {
    color: rgb(0, 53, 89);
}
