<ex_arm>
    <link rel="stylesheet" href="styles/leg_list.css">
    <div class="exercises-container">
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_TRI_EXT.gif" alt="덤벨 트라이셉 익스텐션"></a>
            <span class="text">덤벨 트라이셉 익스텐션</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_KICKBACK.gif" alt="덤벨 킥백"></a>
            <span class="text">덤벨 킥백</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CABLE_PUSH_DOWN.gif" alt="케이블 푸시 다운"></a>
            <span class="text">케이블 푸시 다운</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_BC_CURL.gif" alt="바벨 컬"></a>
            <span class="text">바벨 컬</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/EZB_CURL.gif" alt="이지바 컬"></a>
            <span class="text">이지바 컬</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_HAM_CURL.gif" alt="덤벨 해머 컬"></a>
            <span class="text">덤벨 해머 컬</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CG_BB_BP.gif" alt="클로즈 그립 벤치프레스"></a>
            <span class="text">클로즈 그립 벤치프레스</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SEAT_DB_TRI_EXT.gif" alt="시티드 덤벨 트라이셉 익스텐션"></a>
            <span class="text">시티드 덤벨 트라이셉 익스텐션</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_WRIST_CURL.gif" alt="바벨 리스트 컬"></a>
            <span class="text">바벨 리스트 컬</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/EZB_WRIST_CURL.gif" alt="이지바 리스트 컬"></a>
            <span class="text">이지바 리스트 컬</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_WRIST_CURL.gif" alt="덤벨 리스트 컬"></a>
            <span class="text">덤벨 리스트 컬</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SKULL_CRUSH.gif" alt="스컬 크러셔"></a>
            <span class="text">스컬 크러셔</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/LYING_TRI_EXT.gif" alt="바벨 라잉 트라이셉 익스텐션"></a>
            <span class="text">바벨 라잉 트라이셉 익스텐션</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_PREA_CURL.gif" alt="덤벨 프리쳐 컬"></a>
            <span class="text">덤벨 프리쳐 컬</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_PREA_CURL.gif" alt="바벨 프리쳐 컬"></a>
            <span class="text">바벨 프리쳐 컬</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/EZ_PREA_CURL.gif" alt="이지바 프리쳐 컬"></a>
            <span class="text">이지바 프리쳐 컬</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/ARM_CURL_MC.gif" alt="프리쳐 컬 머신"></a>
            <span class="text">프리쳐 컬 머신</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/ARM_CURL_MC.gif" alt="암 컬 머신"></a>
            <span class="text">암 컬 머신</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CABLE_HAM_CURL.gif" alt="케이블 해머컬"></a>
            <span class="text">케이블 해머컬</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CABLE_OHT_EXT.gif" alt="케이블 오버헤드 트라이셉 익스텐션"></a>
            <span class="text">케이블 오버헤드 트라이셉 익스텐션</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CABLE_LYING_TRI_EXT.gif" alt="케이블 라잉 트라이셉 익스텐션"></a>
            <span class="text">케이블 라잉 트라이셉 익스텐션</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/REV_BB_WRIST_CURL.gif" alt="리버스 바벨 리스트 컬"></a>
            <span class="text">리버스 바벨 리스트 컬</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/REV_DB_WRIST_CURL.gif" alt="리버스 덤벨 리스트 컬"></a>
            <span class="text">리버스 덤벨 리스트 컬</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/INC_DB_CURL.gif" alt="인클라인 덤벨 컬"></a>
            <span class="text">인클라인 덤벨 컬</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BENCH_DIPS.gif" alt="벤치 딥스"></a>
            <span class="text">벤치 딥스</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/WRIST_ROLLER.gif" alt="리스트 롤러"></a>
            <span class="text">리스트 롤러</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/REV_BB_CURL.gif" alt="리버스 바벨 컬"></a>
            <span class="text">리버스 바벨 컬</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/TRI_EXT_MC.gif" alt="트라이셉 익스텐션 머신"></a>
            <span class="text">트라이셉 익스텐션 머신</span>
        </div>
    </div>
</ex_arm>