<ex_cardio>
    <link rel="stylesheet" href="styles/leg_list.css">
    <div class="exercises-container">
        <div class="exercise">
            <img src="https://burnfit.io/wp-content/uploads/2023/11/TREADMIL.gif" alt="트레드밀">
            <span class="text">트레드밀</span>
        </div>
        <div class="exercise">
            <img src="https://burnfit.io/wp-content/uploads/2023/11/CYCLE.gif" alt="싸이클">
            <span class="text">싸이클</span>
        </div>
        <div class="exercise">
            <img src="https://burnfit.io/wp-content/uploads/2023/11/ROW_MACH.gif" alt="로잉머신">
            <span class="text">로잉머신</span>
        </div>
        <div class="exercise">
            <img src="https://burnfit.io/wp-content/uploads/2023/11/CLIMB_STAIRS.gif" alt="계단 오르기">
            <span class="text">계단 오르기</span>
        </div>
        <div class="exercise">
            <img src="https://burnfit.io/wp-content/uploads/2023/11/JUMP_ROPE.gif" alt="줄넘기">
            <span class="text">줄넘기</span>
        </div>
        <div class="exercise">
            <img src="https://burnfit.io/wp-content/uploads/2023/11/DOUBLE_UNDER.gif" alt="이단 뛰기">
            <span class="text">이단 뛰기</span>
        </div>
        <div class="exercise">
            <img src="https://burnfit.io/wp-content/uploads/2023/11/HIGH_KNEE_SKIP.gif" alt="하이니 스킵">
            <span class="text">하이니 스킵</span>
        </div>
        <div class="exercise">
            <img src="https://burnfit.io/wp-content/uploads/2023/11/ASSAULT_BIKE.gif" alt="어썰트 바이크">
            <span class="text">어썰트 바이크</span>
        </div>
        <div class="exercise">
            <img src="https://burnfit.io/wp-content/uploads/2023/11/STEPMILL_MAC.gif" alt="스텝밀">
            <span class="text">스텝밀</span>
        </div>
        <div class="exercise">
            <img src="https://burnfit.io/wp-content/uploads/2023/11/WALKING.gif" alt="걷기">
            <span class="text">걷기</span>
        </div>
        <div class="exercise">
            <img src="https://burnfit.io/wp-content/uploads/2023/11/RUNNING.gif" alt="달리기">
            <span class="text">달리기</span>
        </div>

    </div>
</ex_cardio>