<ex_chest>
    <link rel="stylesheet" href="styles/leg_list.css">
    <div class="exercises-container">
        <div class="exercise">
            <a href="https://www.youtube.com/watch?v=nt9ghRd-Otg" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_BP.gif" alt="벤치프레스"></a>
            <span class="text">벤치프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/5_1FrNsggn8?si=V6ouJV4g8QvH1R09" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SM_BP.gif" alt="스미스머신 벤치프레스"></a>
            <span class="text">스미스머신 벤치프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/14WOMuoy-NQ?si=uI_7H6nSE8TxmYQ3" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SM_INC_PRESS.gif" alt="스미스머신 인클라인 벤치프레스"></a>
            <span class="text">스미스머신 인클라인 벤치프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Xat3np4Zr-w?si=MZx35hd5t_BkOXrn" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_BP.gif" alt="덤벨 벤치프레스트"></a>
            <span class="text">덤벨 벤치프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/FuButPvWEaY?si=Rxzn1X8oAusJXXTn" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_INC_BP.gif" alt="인클라인 덤벨 벤치프레스"></a>
            <span class="text">인클라인 덤벨 벤치프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/HcDzxNNrSBo?si=uaj1jg8ldqwR7eQ9" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_FLY.gif" alt="덤벨 플라이"></a>
            <span class="text">덤벨 플라이</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/zPtrknN4QwY?si=NGoHFsZeXjt2ZOpg" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/STD_CABLE_FLY.gif" alt="스탠딩 케이블 플라이"></a>
            <span class="text">스탠딩 케이블 플라이</span>
        </div>
        <div class="exercise">
            <a href="https://youtube.com/shorts/RO39negnXxM?si=qCse9VQ--oxb3dT0" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_INC_PRESS.gif" alt="인클라인 벤치프레스"></a>
            <span class="text">인클라인 벤치프레스트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/pQSfXvaQGas?si=9TXyY5UlOMYzSEMe" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DIPS.gif" alt="딥스"></a>
            <span class="text">딥스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/1YEjOz2nk30?si=yDxslYmuoqs2OXMg" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/WEI_DIPS.gif" alt="중량 딥스"></a>
            <span class="text">중량 딥스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/knXd_2Qa3E4?si=60nYINvvwAdi4Vw1" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_INC_FLY.gif" alt="인클라인 덤벨 플라이"></a>
            <span class="text">인클라인 덤벨 플라이</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/8txh_smTqPA?si=onh_dBth6OLZBxmp" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/PUSH_UP.gif" alt="푸시업"></a>
            <span class="text">푸시업</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/R0ERYxZLw74?si=j8e4yXQlPN7fNuNu" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/WEI_PUSH_UP.gif" alt="중량 푸시업"></a>
            <span class="text">중량 푸시업</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/0ooCJJIGw_s?si=kNZ4lWVHCJUYPSq8" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/HINDU_PUSH_UP.gif" alt="힌두 푸시업"></a>
            <span class="text">힌두 푸시업</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Hb-vCD3lzOA?si=cTWDlA3sodslUwc-" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/ARCHER_PUSH_UP.gif" alt="아처 푸시업"></a>
            <span class="text">아처 푸시업</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/pY0djF8Y4jg?si=cMrEDwxqnz11f5zC" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CG_PUSH_UP.gif" alt="클로즈그립 푸시업"></a>
            <span class="text">클로즈그립 푸시업</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/TN4y-VdiDfU?si=5aabNYj1_QEalbpU" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CHEST_PRESS_MC.gif" alt="체스트 프레스 머신"></a>
            <span class="text">체스트 프레스 머신</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Og9pgOtL-04?si=XzbQ68vHaH0EoHj8" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/PEC_DECK_MC.gif" alt="펙덱 플라이 머신트"></a>
            <span class="text">펙덱 플라이 머신</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/P5IwFt2qbN0?si=I2a2qOKyRWsh917r" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/INC_BP_MAC.gif" alt="인클라인 벤치프레스 머신"></a>
            <span class="text">인클라인 벤치프레스 머신트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/gFRzF6dS4SI?si=BLstrG1Pa9_nsZIC" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_PULLOVER.gif" alt="덤벨 풀오버"></a>
            <span class="text">덤벨 풀오버</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/6SD1vf_DhFg?si=nX0y2fmqi5XXoaIy" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SEAT_DIPS_MC.gif" alt="시티드 딥스 머신"></a>
            <span class="text">시티드 딥스 머신</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/fuJlSUNHYVk?si=CKNtZRDxkK5oyByB" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/LP_CABLE_FLY.gif" alt="로우 풀리 케이블 플라이"></a>
            <span class="text">로우 풀리 케이블 플라이</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/GkRVlsFVkZo?si=yRQD-3AR2mYbDZyL" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/HAMMER_BP.gif" alt="해머 벤치프레스"></a>
            <span class="text">해머 벤치프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/bLTyhEsQRl0?si=QTfgwk252chy0zqL" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SPOTO_BP.gif" alt="스포토 벤치프레스"></a>
            <span class="text">스포토 벤치프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/1e1ZgTSnp_o?si=EMffCppc3kvej0hY" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/ASS_DIP_MC.gif" alt="어시스트 딥스 머신"></a>
            <span class="text">어시스트 딥스 머신</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/jYgpC5pFb20?si=ZsDFT0OfGsePVUFi" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_DEC_BP.gif" alt="디클라인 벤치프레스"></a>
            <span class="text">디클라인 벤치프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/jlqeYZQUuzU?si=gOLCqdbP9T4Ekr61" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_FLOOR_PRESS.gif" alt="바벨 플로어 프레스"></a>
            <span class="text">바벨 플로어 프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/nCQxyBGVYpg?si=r67abw49sqrM-yc_" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CLAP_PUSH_UP.gif" alt="클랩 푸시업"></a>
            <span class="text">클랩 푸시업</span>
        </div>
        <div class="exercise">
            <a href="https://youtube.com/shorts/EDBgCU5PetY?si=CjDv7-c7or-HlWVO" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_DEC_FLY.gif" alt="디클라인 덤벨 플라이"></a>
            <span class="text">디클라인 덤벨 플라이</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/ZP_EwWbyNLI?si=uIVPXCiktSb3v_lo" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/INC_DB_TWIST_PRESS.gif" alt="인클라인 덤벨 트위스트 프레스"></a>
            <span class="text">인클라인 덤벨 트위스트 프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/zPtrknN4QwY?si=hnzazmxh9VvGHAOv" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/INC_CABLE_FLY.gif" alt="인클라인 케이블 플라이"></a>
            <span class="text">인클라인 케이블 플라이</span>
        </div>
    </div>
</ex_chest>