<ex_list>
    <div class="board">
        <div class="category">운동리스트</div>
        <a href="leg_list" class="item" id="leg">하체</a>
        <a href="chest_list" class="item">가슴</a>
        <a href="shoulder_list" class="item">어깨</a>
        <a href="abs_list" class="item">복근</a>
        <a href="arm_list" class="item">팔</a>
        <a href="cardio_list" class="item">유산소</a>
        <a href="weight_list" class="item">역도</a>
        <a href="stretching_list"class="item">스트레칭</a>
        <a href="etc_list" class="item">기타</a>
    </div>  
    <link rel="stylesheet" href="styles/leg_list.css">
</ex_list>

<search_container>
    <link rel="stylesheet" href="styles/leg_list.css">
    <div class="search-container">
        <input type="text" class="search-box">
        <button class="search-button">검색</button>
    </div>    
</search_container>
