<ex_shoulder>
    <link rel="stylesheet" href="styles/leg_list.css">
    <div class="exercises-container">
        <div class="exercise">
            <a href="https://youtu.be/8DByXGrk4Ps?si=7fPeVgGASOUUXNFF" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_PRESS.gif" alt="오버헤드 프레스"></a>
            <span class="text">오버헤드 프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/QXhw6sJ8Hf8?si=MzJQTRnnj6U6FPmC" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SM_PRESS.gif" alt="스미스머신 오버헤드 프레스"></a>
            <span class="text">스미스머신 오버헤드 프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Q5zXXPdhkmQ?si=iu1QANHy-8X5hfrD" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SM_SHRUG.gif" alt="스미스머신 슈러그"></a>
            <span class="text">스미스머신 슈러그</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Ia9DYFMkMmU?si=0ClVjZemm8uZ1JBR" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_SHD_PRESS.gif" alt="덤벨 숄더 프레스"></a>
            <span class="text">덤벨 숄더 프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/YdhHnZxcpgY?si=-fQRRMWaQ6W9_Wzs" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_LAT_RAISE.gif" alt="덤벨 레터럴 레이즈"></a>
            <span class="text">덤벨 레터럴 레이즈</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/ApN4D31ogVg?si=7I1LBdk9FkB6Km25" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_BO_LAT_RAISE.gif" alt="벤트오버 덤벨 레터럴 레이즈"></a>
            <span class="text">벤트오버 덤벨 레터럴 레이즈</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/PPy2WOkiGjw?si=drKBYl5_SJr8UHKO" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/ARNOLD_DB_PRESS.gif" alt="아놀드 덤벨 프레스"></a>
            <span class="text">아놀드 덤벨 프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/qFh1p1Afp_c?si=rtPCF3NO6A2N5-FK" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SHD_PRESS_MAC.gif" alt="숄더 프레스 머신"></a>
            <span class="text">숄더 프레스 머신</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/MHU5drP7tkI?si=4rfMTR82I3TZVELr" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_BHD_NECK_PRESS.gif" alt="비하인드 넥 프레스"></a>
            <span class="text">비하인드 넥 프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/m0ddyws4VL4?si=eSqlAMXpPHXlyxoX" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_F_RAISE.gif" alt="덤벨 프론트 레이즈"></a>
            <span class="text">덤벨 프론트 레이즈</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/VWa-hrKMh-Q?si=pvAYUNVd5QHXPHE5" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_SHRUG.gif" alt="덤벨 슈러그"></a>
            <span class="text">덤벨 슈러그</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/BdwlyZun4_o?si=quvckzrKuNsuRC0X" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_SHRUG.gif" alt="바벨 슈러그"></a>
            <span class="text">바벨 슈러그</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/FLtS0yU6LgQ?si=fHk9mafxOa0i-n2A" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/FACE_PULL.gif" alt="페이스 풀"></a>
            <span class="text">페이스 풀</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/yu4E-zrKEeQ?si=k8E6SSAGj3EWRnz_" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/HS.gif" alt="핸드스탠드"></a>
            <span class="text">핸드스탠드</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/-Gsc0z3WzhI?si=WYgZMI9ykoOym71M" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/HSPU.gif" alt="핸드스탠드 푸시업"></a>
            <span class="text">핸드스탠드 푸시업</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/v8luLVJxt5U?si=vqBV_ev0hddkAVwt" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_UPRIGHT_ROW.gif" alt="바벨 업라이트 로우"></a>
            <span class="text">바벨 업라이트 로우</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Yg3wUszHbj0?si=2YdRWxd7AJcNk7lO" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_UPRIGHT_ROW.gif" alt="덤벨 업라이트 로우"></a>
            <span class="text">덤벨 업라이트 로우</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/rm5ZiF-IM3U?si=hs4KEBLUNkCbK_qH" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/EZB_UPRIGHT_ROW.gif" alt="이지바 업라이트 로우"></a>
            <span class="text">이지바 업라이트 로우</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/oUKwx-1yfI0?si=ARd4alCmzH_EG11v" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/PUSH_PRESS.gif" alt="푸시 프레스"></a>
            <span class="text">푸시 프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/MhJyMZ1emQA?si=wnHXt7OP5IvcmIg5" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/REV_PEC_DECK_MC.gif" alt="리어 델토이드 플라이머신"></a>
            <span class="text">리어 델토이드 플라이머신</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/0gkQKf7pZZk?si=v1dmmlRZNR-swSV5" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/LAT_RAISE_MC.gif" alt="레터럴 레이즈 머신"></a>
            <span class="text">레터럴 레이즈 머신</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/TUXNVoBMHm0?si=yU-MdHz91ogV0kKR" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CABLE_LAT_RAISE.gif" alt="케이블 레터럴 레이즈"></a>
            <span class="text">케이블 레터럴 레이즈</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/ApGF7XqzfcY?si=oinr8aRZAtMf-AiU" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CABLE_FRONT_RAISE.gif" alt="케이블 프론트 레이즈"></a>
            <span class="text">케이블 프론트 레이즈</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/n2F4yuTY0vc?si=Uk-CUQesf_bVG7mP" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_FRONT_RAISE.gif" alt="바벨 프론트 레이즈"></a>
            <span class="text">바벨 프론트 레이즈</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/WPE9T7RMLDY?si=PBxjxB0abhn5Noq8" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/EZB_FRONT_RAISE.gif" alt="이지바 프론트 레이즈"></a>
            <span class="text">이지바 프론트 레이즈</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/n3aX0oJyvWA?si=LoFI76Qkfuf3sEZI" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_REAR_LAT_RAISE.gif" alt="시티드 덤벨 리어 레터럴 레이즈"></a>
            <span class="text">시티드 덤벨 리어 레터럴 레이즈</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/VN3cVmOGYGo?si=6aMoYmxkqBkq8IBO" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SHD_TAP.gif" alt="숄더 탭"></a>
            <span class="text">숄더 탭</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/reniXGz-op4?si=_AJg8WQ4jHExoVhv" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SEAT_BB_SHD_PRESS.gif" alt="시티드 바벨 숄더 프레스"></a>
            <span class="text">시티드 바벨 숄더 프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/66gDfjrm-gk?si=qq8T7ZBJQ01YIWAx" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SEAT_DB_SHD_PRESS.gif" alt="시티드 덤벨 숄더 프레스"></a>
            <span class="text">시티드 덤벨 숄더 프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/rHk4j2WRAE4?si=Il932UWwTy3NUMHg" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/PLATE_SHD_PRESS.gif" alt="플레이트 숄더 프레스"></a>
            <span class="text">플레이트 숄더 프레스</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/Y_RAISE.gif" alt="Y 레이즈"></a>
            <span class="text">Y 레이즈</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/ZnfV6Jo1NZI?si=tfzT_hQBfDl0DQb_" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_Y_RAISE.gif" alt="덤벨 Y 레이즈"></a>
            <span class="text">덤벨 Y 레이즈</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/BdwlyZun4_o?si=RuxS6RLWi0vyqgJc" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SHRUG_MC.gif" alt="슈러그 머신"></a>
            <span class="text">슈러그 머신</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/1nJbWjtSdk4?si=kEAa5xr2csYIxKkM" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CABLE_SHRUG.gif" alt="케이블 슈러그"></a>
            <span class="text">케이블 슈러그</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/TLsASYhCPyo?si=ST4N2CKb-xRf7qoX" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CABLE_INT_ROT.gif" alt="케이블 인터널 로테이션"></a>
            <span class="text">케이블 인터널 로테이션</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/eAN3fCFYeVk?si=CvgvkioLX5hdN7oM" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CABLE_EXT_ROT.gif" alt="케이블 익스터널 로테이션"></a>
            <span class="text">케이블 익스터널 로테이션</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Lt_kFaAZWMg?si=thLfDvnEjmBdi5o2" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/OA_CABLE_LAT_RAISE.gif" alt="원암 케이블 레터럴 레이즈"></a>
            <span class="text">원암 케이블 레터럴 레이즈</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/IbVMl_NIA9g?si=Ew_QdixuXNO99SeT" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/LAND_PRESS.gif" alt="랜드마인 프레스"></a>
            <span class="text">랜드마인 프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtube.com/shorts/v8ZSWKlV5A0?si=R3FFDjJ-TUHZFs4s" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/OA_LAND_PRESS.gif" alt="원암 랜드마인 프레스"></a>
            <span class="text">원암 랜드마인 프레스</span>
        </div>
    </div>
</ex_shoulder>