.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 240px;
    padding: 20px;
    background-color: #f7f7f7;
    border-right: 1px solid #e0e0e0;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-name {
    margin: 10px 0;
    font-weight: bold;
}

.profile-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    font-size: 14px;
}

.profile-button:hover {
    background-color: rgb(55, 196, 170);
    border-color: rgb(55, 196, 170);
}

.main-content h1 {
    color: rgb(11, 154, 167);
    margin-bottom: 20px;
}

.menu {
    margin-top: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.menu ul li a:hover {
    color:  rgb(11, 154, 167);
}

.main-content {
    flex: 1;
    padding: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f7f7f7;
    color: rgb(11, 154, 167);
}

td {
    background-color: #fff;
}

td a {
    text-decoration: none;
    color: rgb(0, 53, 89);
}

td a:hover {
    color: rgb(55, 196, 170);
}

tbody tr:nth-child(even) td {
    background-color: #f7f7f7;
}

#update-board {
    background-color: rgb(11, 154, 167);
    border-radius: 6px;
    border: 1px solid rgb(11, 154, 167);
    padding: 10px 30px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin: auto;
    text-decoration: none;
}

#update-board:hover {
    background-color: rgb(55, 196, 170);
    border-color: rgb(55, 196, 170);
}

.btn {
    margin-top: 20px;
}
