h2 {  /* 로그인 박스 안 로고 */
    font-family : 'Oleo Script Swash Caps';
    text-align: center;
    font-size: 35px;
    position: relative;
}

form {    /* 로그인 박스 전체 */
    position: relative;
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    top: 120px;
}

form img {
    position: absolute;
    width: 80%; 
    margin: auto;
    right: 52px;
    top: 7px;
    pointer-events: none;
}

form input {   /* 아이디, 비밀번호 입력 박스 */
    width: 300px;
    height: 35px;
    padding: 20px;
    box-sizing: border-box;
    margin: 4px auto;
    margin-bottom: 8px;
    border: 1.5px solid rgb(11, 154, 167);
    border-radius: 6px;
    padding-left: 40px;
}

form input:focus {      
    border: 2px solid rgb(0, 53, 89);
}

form input[text] {
    font-family: 'Noto Sans Kr';
}

#userid,
#username {
    background-image: url("/images/person.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
}

#user_new_pw, 
#check_new_pw {
    background-image: url("/images/lock.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
}

#btn-login {    /* 로그인 버튼 */
    font-weight: bold;
    width: 300px;
    height: 40px;
    margin: auto;
    margin-top: 5px;
    position: relative;
    top: 8px;
    border-radius: 6px;
    border: 1.5px solid rgb(11, 154, 167);
    background-color:  rgb(11, 154, 167);
    font-size: 18px;
    color: white;
}

#btn-login:hover {
    border: 1.5px solid  rgb(55, 196, 170);
    background-color: rgb(55, 196, 170);
    color: white;
}

#a-find-total {    /* 비밀번호 찾기 | 아이디 찾기 | 회원가입 */
    margin: auto;
    text-align: center;
    padding-top: 52px;
    font-size: 15px;
    position: relative;
    top: 110px;
}

.a-find {
    text-decoration: none;
    color: gray;
    padding: 16px;
}

.a-find:hover {
    color: rgb(0, 53, 89);
}

.error-message {
    color: red;
    text-align: center;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
