body{
  font-family: 'Noto Sans Kr';
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh-55px);  /* 전체화면 - 헤더 영역 크기 */
  margin-top: 4vh;
  background-color: #ffffff;
  gap:10px;
}


.year-month{
  font-family: 'Noto Sans Kr';
}

.current-date {
  position: relative;
  top: -1vh;
}

/* 월 넘기기 버튼 < >  */
.icons{
  margin-bottom : -4vh ;
  margin-left: 10vw;
  color: #0b99a9;
  position: absolute;
  left: 18vw;
}

.btn-month {
  width: 3vw;
  height: 3vh;
  margin: 0 3px;
  cursor: pointer; 
  border-radius: 50%;
  border-color: 1px #0b99a9;
  background-color: #ffffff;

}

.btn-month:hover{
  background-color: #0b99a944;
  /* color: white; */
  color: #07656f;
}


.bi-caret-left {
  /* position: relative; */
  right: 1px;
}
.bi-caret-right {
  /* position: relative; */
  left: 1px;
}


.calendar .year-month {
    display: flex;
    align-items: center;
    margin-bottom: 3vh;

  }

.calendar .year-month .current-date {
    font-weight: 600;
    text-align: left;
  }


.weeks-days{
  outline: auto;
  outline-color: #0b99a9;
  padding-top: 0.7vh;
  position: relative;
  top: -3vh;
}


.weeks-days ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
  }
.weeks-days .weeks li {
    font-weight: 500;
  }


.weeks-days ul li {
    width: calc(100% / 7);
    position: relative;
  }
  
.weeks-days .days li {
    z-index: 1;
    /* padding-top: 20px ;
    padding-bottom: 20px; */
    /* margin: 30px 0; */
    margin: 4.5vh 0;

    cursor: pointer;
  }
   
  /* 현재 달이 아닌 날짜 색 */
.days li.inactive {
    color: #aaa;
  }


.days li.active {
    color: #fff;
  }


.weeks-days .days li::before {
    position: absolute;
    content: '';
    /* height: 40px;
    width: 40px; */
    height: 5vh;
    width: 5vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
  }
  .days li:hover::before{
    background-color: #efefefbf; /* 원 색상 */
  }

/* 선택된 날짜 스타일 추가 */
.days li.selected::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 40px;
    height: 40px; */

    width: 5vh;
    height: 5vh;


    background-color: #bedfe4; /* 원 색상 */
    border-radius: 50%;
    z-index: -1;
    display: inline-block;
    /* line-height: 40px; */
    line-height: 4vh;

    text-align: center;
}

.days li.selected {
    position: relative;
}

/* 오늘 날짜 */
.days li.active::before {
    background: #0b99a9;
  }

.weeks {
    margin-bottom: 5px;
}
.current-year {
  font-size: 1.3rem;
  font-weight: 700;
  position: relative;
  top: 0.5vh;
}

.current-month {
  font-size: 1.5rem;
   /* 월 크기 */
  font-weight: 800;
  position: relative;
  top: 0.5vh;
}


/* 달력 버튼만 남기기 */
input[type="month"] {
  position: relative;
  width: 30px; 
  height: 30px;
  color: transparent; 
  background: none; 
  border: none; 

}

input[type="month"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

input[type="month"]::-webkit-input-placeholder {
  color: transparent;
}
input[type="month"]:focus {
  outline: none;
  border: none;
}

#monthPicker{
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 2.5vh;
}


.calendar {
    display: inline;
    width: 27vw;
    max-width: 35vw;
    background: #fff;
    padding: 1vw;
    border-color: #0b99a9;
    margin-left: 0;

}


  /* 캘린더 요일 밑 줄 */
  .hr-calendar {
    margin:0;
    padding:0;
    background:#0b99a9;
    height:2px;
    width: 100%;
    border:0;
}


.kcal {
  width: 24.5vw;
  height: 220px;
  background-color: rgb(255, 255, 255);  
  border-radius: 5px;
  outline: auto;
  outline-color: #e1e1e1;
  margin-right: 2.5vw;

}



/* 전체 팝업창  */
.popup {
  border: 3px;
  background-color: rgb(190, 223, 228);
  border-radius: 5px;
  width: 29vw;
  height: 70vh;
  padding: 0 1vw;
  padding-top: 1vh;
  padding-bottom: 2vh;
  position: relative;
}

.popup.show {
  display: block;
}

#popup-date{
  position: absolute;


  left: 22vw;
  top: -2.5vh;

  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: hsl(0, 0%, 0%);
  text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}

/* 팝업창 아랫단 */
.popup-content-2 {
  position: relative;
  top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 팝업창 식단 섹션 */
/* 식단 전체 */
.popup-diet {
  text-align: left;
}

.diet-image input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
  gap: 1vh;

}
.image-upload-box:first-child{
  margin-top: 2px;
}

.image-upload-box {
  width: 12vw;
  height: 14.8vh;
  border: 2px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 8px;

}

/* 스크롤바 생성 시 */
.image-upload-box:last-child{
  margin-bottom: 10px;
}

/* 식단 이미지 */
.image-upload-box img {
  width: 12vw;
  height: 14.8vh;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 5px;
}

.image-upload-box input[type="file"] {
  display: none;
}

.image-upload-box .placeholder {
  text-align: center;
  color: #646464;
}

/* 오늘의 식단 */
.p-popup-diet {
  font-weight: 600;
  font-size: 1.1rem;
  margin-left: 10px;
  margin: 0;
}


.diet-image{

  background-color: #ffffff;
  gap: 1vh;

}

/* 팝업창 인바디 섹션 */
/* 인바디 파트 전체 */
.popup-inbody {
  width: 20vw;
  height: 30vh;
  text-align: left;
}

/* 오늘의 인바디 */
.p-popup-inbody{
  position: absolute;
  top: -0.05vh;
  margin: 0 10px;
  font-weight: 600;
  font-size: 1.1rem;
}

.popup-inbody-check{
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
}

/* 인바디 input 파트 전체 */
.popup-inbody-input{
  position: absolute;
  top: 28px; 
  background-color: hwb(0 100% 0%);
  width: 16vw;
  height: 46.3vh;
  padding: 1px;
  margin-left: 11px;
  border-radius: 5px;
}

.inbody-input::placeholder { color: #aaaaaa; }
.inbody-input:focus { outline: none; }

/* 인바디 input 개별 요소들 */
.popup-input {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;

}
.popup-input:first-child{
  margin-bottom: 40px;
}

/* 인바디 개별 input요소 p태그 */
.popup-weight p{
  font-size: 0.9rem;
  font-weight: 500;
  margin: 6px 2px;
}


/* 인바디 input창 */
.popup-inbody-input input {
  width: 8vw;
  height: 3.5vh;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(190, 223, 228);
}

/* 오늘의 운동 */
.p-popup-exercise{
  position: absolute;
  padding: auto;
  top: -1vh; 
  left: 0.5vw;
  font-weight: 600;
  font-size: 1.1rem;
  color: black;
}

.popup-content-1{
  position: relative;
}

/* 운동 추가하기 버튼 */
.bi-plus-circle{
  position: relative;
  top: 2px;
  width: 25px;
  height: 25px;
}

.btn-add:hover{
  color: #0b99a9;
}


/* 팝업창 운동 섹션 */
.popup-exercise {
  position: absolute;
  top: 5vh;
  width: 29vw;
  height: 14.8vh;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: auto;
}

.btn-add-exercise {
  background: none; 
  border: none;
}
.btn-add-exercise svg {
  width: 23px;
  height: 23px;
}
.p-add-exercise{
  font-size: 18px;
  margin: -1px 5px ;
  position: relative;
}

.p-add-exercise:hover{
  color: #0b99a9;
}

.btn-add {
  display: flex;
  width: 150px;
  height: 30px;
  margin: 10px;
}

.popup-exercise li {
  /* margin-left: 2vw ; */
  text-align: left;
}

.popup-choice-exercise{
  display: none;
}

/* 운동 추가 팝업창 */
.popup-choice-exercise.show {
  display: block;
  position: absolute;
  margin-top: 50px;
  top: 40px;
  left: 300px;
  width: 280px;
  height: 100px;
  border: 3px;
  background-color: rgb(255, 255, 255);
  border: solid #0b99a9;
  border-radius: 5px;
  z-index: 1000;
}

/* 닫기 버튼 */
.close2 {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #0b99a9;
  text-decoration: none;
  cursor: pointer;
}

.choice-exercise{
  display: flex;
  margin: 15px;
  margin-top: 17px;
}

.p-choice-exercise{
  margin: 0;
  margin-top: 2px;
}

.select-exercise{
  width: 150px;
  height: 25px;
  font-size: 12px;
  font-weight: 600;
  background-color: hsl(0, 0%, 95%);
  border-radius: 5px;
  margin-left: 5px;
  border: 1px solid #0b99a9;
}

/* 회x세트 토탈 */
.count-exercise{
  display: flex;
  position: absolute;
  top: 55px;
  left: 17px;
}

.count-exercise p {
  margin: 0 5px;
}

.input-count-exercise{
  width: 35px;
  height: 25px;
  border-radius: 10px;
  border: 1.5px solid #0b99a9;
  padding-left: 5px;
}

/* input=num 화살표 없애기 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 운동 '추가' 버튼 */
#add-exercise-button{
  padding: 5px;
  position: absolute;
  top: 55px;
  left: 210px;
  font-weight: 600;
  width: 55px;
  height: 30px;
  border-radius: 20px;
  /* border-color: #0b99a9; */
  background-color: #ffffff;
}

#add-exercise-button:hover{
  background-color: #0b99a945;
}

/* 운동 추가란 칸막이 */
hr{
  color: hwb(0 95% 5%);
  border-width: 1.5px;
}

#exercise-list li{
  margin: 5px 10px;
}

select optgroup{
  color: rgb(55, 196, 170);
  font-size: 20px;
  font-weight: 600;
}

/* 운동 삭제 버튼 */
.delete-exercise{
  background-color: transparent;
  border:none;
  width :16px;
  height :16px;
}

.bi-x-square:hover{
  background-color: rgba(143, 143, 143, 0.441);
}

.btn-save-inbody:hover{
  /* background-color: #0b99a939; */
  background-color:rgba(190, 223, 228, 0.5) ;

}

.check-exercise{
 width: 20px;
 height: 20px;
}

/* 인바디 저장 버튼 */
.btn-save-inbody {
  color: #585858;
  background-color: #fff;
  border-radius: 5px;
  border: #9a9a9a 1.5px solid;
  width: 14vw;
  height: 4vh;
  font-size: 13px;
  font-weight: 400;
  margin: 8px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.D-day {
  width: 25vw;
  height: 18vh;
  margin-left: 20px;
  margin-bottom: 100px;
  background-color: rgb(255, 255, 255);  
  border-radius: 5px;
  outline: auto;
  outline-color: #e1e1e1;
}

.d-day{
  font-size: 4rem;
  font-weight: 600;
}

.graph {
  width: 25vw;
  height: 30vh;
  margin-left:20px;
  background-color: rgb(255, 255, 255);  
  border-radius: 5px;
  outline: auto;
  outline-color: #e1e1e1;
}

.d-day-graph{
  left: 70vw;
  top: 25vh;
}


.nunbody-image-box{
  background-color: rgba(190, 223, 228, 0.5);
  width: 14vw;
  height: 32vh;
  margin: 15px auto;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

/* 기존 파일선택 버튼폼 없에기 */
.image-nunbody input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.bi-person-bounding-box {
  width: 40px;
  height: 40px;
  color: #a6a6a6;
  margin-top: 95px;
  margin-bottom: 10px;
} 
.nunbody-image-box img {
  width: 14vw;
  height: 32vh;
}

.nunbody-image-box p{
  font-size: 13px;
  color: #a6a6a6;
}

/* 운동 체크박스 */
.exercise-checkbox {
  display: none;
}

.exercise-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 1rem;
}

.exercise-label::before {
  content: '';
  display: inline-block;
  width: 1.3vw;
  height: 1.3vw;
  border: 2px solid #0b99a9;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 1px;
}

.exercise-checkbox:checked + .exercise-label::before {
  background-color: #0b99a9;
  border-color: #0b99a9;
}

.exercise-checkbox:checked + .exercise-label::after {
  content: '';
  display: block;
  width: 0.4vw;
  height: 0.7vw;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  position: absolute;
  left: 0.5vw;
  top:0.3vw;
}

#today-weight{
  position: absolute;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

