 /* 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans Kr';
}

.year-month{
  /* margin-top: 40px; */
  font-family: 'Noto Sans Kr';
}
.current-date {
  position: relative;
  top: -5px;
}

.icons{
  position: relative;
  left: 270px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-month {
  width: 30px;
  height: 30px;
  margin: 0 3px;
  cursor: pointer;
  border-radius: 50%;
  border-color: #0b99a9;
  background-color: #ffffff;
}

.bi{
  position: relative;
  top: 2px;
  width: 25px;
  height: 25px;
  color: #0b99a9;
}

.btn-month:hover{
  background-color: #0b99a944;
  color: white;
}

.bi-caret-left {
  position: relative;
  right: 1px;
}
.bi-caret-right {
  position: relative;
  left: 1px;
}

   
hr {
    margin:0;
    padding:0;
    background:#0b99a9;
    height:2px;
    width: 450px;
    border:0;
    position: relative;
    left: -5px;
}

.calendar .year-month {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 30px;
  }

.calendar .year-month .current-date {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
  }
.weeks-days{
  outline: auto;
  outline-color: #0b99a9;
  padding: 5px;
  position: relative;
  top: -30px;
}


.weeks-days ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
  }
.weeks-days .weeks li {
    font-weight: 500;
  }


.weeks-days ul li {
    /*#8*/
    width: calc(100% / 7);
    /*#9*/
    position: relative;
  }
.weeks-days .days li {
    z-index: 1;
    padding-top: 15px ;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
  }
   
  /* 현재 달이 아닌 날짜 색 */
.days li.inactive {
    color: #aaa;
  }


.days li.active {
    color: #fff;
  }


.weeks-days .days li::before {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
  }

/* 선택된 날짜 스타일 추가 */
.days li.selected::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #bedfe4; /* 원 색상 */
    border-radius: 50%;
    z-index: -1;
    display: inline-block;
    line-height: 40px;
    text-align: center;
}

.days li.selected {
    position: relative;
}

/* 오늘 날짜 */
.days li.active::before {
    background: #0b99a9;
  }

.weeks {
    /* margin-top: 10px; */
    margin-bottom: 5px;
}
.current-year {
  font-size: 22px; /* 연도 크기 */
  font-weight: 700;
}

.current-month {
  font-size: 30px; /* 월 크기 */
  font-weight: 800;
  position: relative;
  top: -5px;
}


/* 달력 버튼만 남기기 */
input[type="month"] {
  position: relative;
  width: 30px; 
  height: 30px;
  color: transparent; 
  background: none; 
  border: none; 
}

input[type="month"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

input[type="month"]::-webkit-input-placeholder {
  color: transparent;
}
input[type="month"]:focus {
  outline: none;
  border: none;
}

/* input[type="month"]:focus {
  outline: none;
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */

#monthPicker{
  position: relative;
  top: 10px;
}

.container {
  width: 100%;
  position: absolute;
  /* 헤더 영역 80px */
  top: 80px;  
  height: 755px;
  margin: 0 auto;
  display: flex;
  background-color: #ffffff;
  padding-left: 130px;
}


.calendar {
  /* display: inline; */
    width: 500px;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    border-color: #0b99a9;
    /* margin-left: 15%; */
    position: absolute;
    right: 50%;
    top: 20px;
    margin: 10px;
  }

/* 캘린더 오른쪽 영역 */
.calendar-right {
  width: 500px;
  height: 570px;
  position: absolute;
  top: 100px;
  left: 50%;
  border: 4px;
  margin: 30px;
}


.kcal {
  width: 220px;
  height: 220px;
  background-color: rgb(255, 255, 255);  
  border-radius: 5px;
  outline: auto;
  outline-color: #e1e1e1;
}
.p-kcal{
  position: absolute;
  top: 70px;
  left: 90px;
  font-size: 60px;
  font-weight: 700;
  color: #0b99a9;
}
.p-ko-kcal{
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 15px;
  left: 65px;
}
.p-en-kcal{
  position: absolute;
  top: 150px;
  left: 70px;
  font-size: 40px;
  font-weight: 700;
}

.D-day {
  position: absolute;
  top: 0;
  left: 240px;
  width: 220px;
  height: 220px;
  background-color: rgb(255, 255, 255);  
  border-radius: 5px;
  outline: auto;
  outline-color: #e1e1e1;
}

.graph {
  position: absolute;
  top: 240px;
  width: 460px;
  height: 320px;
  background-color: rgb(255, 255, 255);  
  border-radius: 5px;
  outline: auto;
  outline-color: #e1e1e1;
}


/* 전체 팝업창  */
.popup {
  display: none;
  position: absolute;
  top: -60px;
  left: -10px;
  border: 3px;
  background-color: rgb(190, 223, 228);
  border-radius: 5px;
  width: 480px;
  height: 630px;
  z-index: 1000;
  /* overflow: scroll; */
}

.popup.show {
  display: block;
}

.popup-exercise {
  display: flex;
  position: absolute;
  top: 72px;
  left: 20px;
  width: 440px;
  height: 130px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: auto;
}

.close {
  position: absolute;
  right: 10px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#popup-date{
  position: absolute;
  right: 20px;
  top: 38px;
  font-size: 23px;
  font-weight: 700;
}

.popup-text{
  position: absolute;
  left: 20px;
  top: 45px;
  font-weight: 600;
  font-size: 18px;
}

.popup-content-1{
  position: relative;
}

.popup-content-2 {
  position: absolute;
  top: 280px;
}

/* 팝업창 식단 섹션 */
.popup-diet {
  position: absolute;
  left: 20px;
  top: -40px;
}

.diet-image input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.image-upload-box {
  width: 200px;
  height: 120px; 
  border: 2px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  background-color: #ffffff;
}

/* 스크롤바 생성 시 */
.image-upload-box:last-child{
  margin-bottom: 20px;
}

.image-upload-box img {
  /* width: 100%;
  height: 100%; */
  width: 230px;
  /* height: 150px; 스크롤바 생성시 */
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.image-upload-box input[type="file"] {
  display: none;
}

.image-upload-box .placeholder {
  text-align: center;
  color: #646464;
}

.p-popup-diet {
  position: absolute;
  left: 0;
  top: -28px;
  font-weight: 600;
  font-size: 18px;
}


.diet-image{
  width: 200px;
  height: 90px;
  background-color: #ffffff;
  gap: 10px;
}

/* 팝업창 인바디 섹션 */
/* 인바디 파트 전체 */
.popup-inbody {
  position: absolute;
  left: 235px;
  top: -68px;
  /* background-color: #0b99a9; */
  width: 230px;
  height: 410px;
  text-align: left;
}
/* 인바디 체크 버튼 */
.check-icon button{
  position: absolute;
  left: 195px;
  top: -5px;
  color: transparent; 
  background: none; 
  border: none; 
}
.check-icon button.selected::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #bedfe4; /* 원 색상 */
  border-radius: 50%;
  z-index: -1;
  display: inline-block;
  line-height: 20px;
  text-align: center;
}

/* 오늘의 인바디 */
.p-popup-inbody{
  /* position: absolute;
  left: 50px; */
  font-weight: 600;
  font-size: 18px;
  margin-left: 10px;
}
.popup-inbody-check{
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
}

/* 인바디 input 파트 전체 */
.popup-inbody-input{
  position: absolute;
  top: 28px; 
  background-color: hwb(0 100% 0%);
  width: 230px;
  height: 380px;
  border-radius: 5px;
  
}
.inbody-input::placeholder { color: #aaaaaa; }
.inbody-input:focus { outline: none; }

/* 인바디 input 개별 요소들 */
.popup-input {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  margin-left: 20px;
}
.popup-input:first-child{
  margin-bottom: 40px;
}

/* 인바디 개별 input요소 p태그 */
.popup-inbody-input p{
  font-size: 13px;
  font-weight: 500;
  margin: 6px 2px;
}
/* 4글자 너비 기준 (47.84) input요소 마진 설정해서 줄 맞추기 */
.input-height{
  margin-left: 35.88px;
}
.input-weight{
  margin-left: 23.92px;
}
.input-bmi{
  margin-left: 24.36px;
}

/* 인바디 input창 */
.popup-inbody-input input {
  width: 80px;
  height: 30px;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(190, 223, 228);
 
}

