body{
  font-family: 'Noto Sans Kr';
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto; 
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  background-color: #ffffff;
  gap:10px;
}

.calendar-right{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3e4e689;
  /* border: #0b99a9 solid 2px; */
  border-radius: 5px;
  width: 770px;
  height: 630px;
  /* max-width: 780px; */
}

.year-month{
  font-family: 'Noto Sans Kr';
}

.current-date {
  position: relative;
  top: -10px;
}

.icons{
  margin-bottom : -25px ;
  margin-left: 0;
  color: #a3a3a3;
  position: absolute;
  left: 360px; 
  text-align: left;
  margin-right: 10px;
}

.btn-month:hover{
  color:  #0b99a9;
}

.bi-caret-left {
  position: absolute;
  right: 1px;
  top: -10px;
}
.bi-caret-right {
  position: absolute;
  left: 1px;
  top: -10px;
}

.calendar .year-month {
    display: flex;
    align-items: center;
    margin-bottom: 32px; 
}

.calendar .year-month .current-date {
    font-weight: 600;
    text-align: left;
}

.weeks-days{
  outline: auto;
  outline-color: #0b99a9;
  padding-top: 4px;
  width: 380px;
  position: relative;
  top: -30px; 
}

.weeks-days ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.weeks-days .weeks li {
    font-weight: 500;
}

.weeks-days ul li {
    width: calc(100% / 7);
    position: relative;
}

.weeks-days .days li {
    z-index: 2;
    margin: 35px 0; 
    cursor: pointer;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}

.weeks-days .days li::before {
    position: absolute;
    content: '';
    height: 35px;
    width: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 0;
}
.days li:hover::before{
    background-color: #efefefbf;
}

.days li.selected::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    background-color: #bedfe4;
    border-radius: 50%;
    z-index: -1;
    display: inline-block;
    line-height: 32px ;
    text-align: center;
}

.days li.has-exercise::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border: 2px solid #9AE1D4;
    background-color: transparent; /* 배경 투명 설정 */
    border-radius: 50%;
    z-index: -4; 
    display: inline-block;
    line-height: 32px;
    text-align: center;
}
.days li.all-checked::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #9AE1D4; /* 배경 투명 설정 */
  border-radius: 50%;
  z-index: -3; 
  display: inline-block;
  line-height: 32px;
  text-align: center;
}

.days li.selected {
    position: relative;
}

.days li.active::before {
  z-index: -2; 
  background: #0B98A9;
}

.weeks {
    margin-bottom: 5px;
}
.current-year {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  top: 4px;
}

.current-month {
  font-size: 26px; 
  font-weight: 800;
  position: relative;
  top: 4px; 
}

input[type="month"] {
  position: relative;
  width: 30px; 
  height: 30px;
  color: transparent; 
  background: none; 
  border: none; 
}

input[type="month"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

input[type="month"]::-webkit-input-placeholder {
  color: transparent;
}
input[type="month"]:focus {
  outline: none;
  border: none;
}

#monthPicker{
  width: 23px;
  height: 23px;
  margin-top: 15px; 
}

.calendar {
    display: inline-block;
    width: 400px;    
    height: auto;
    background: #fff;
    padding: 10px; 
    border-color: #0b99a9;
    position: relative;
}

.hr-calendar {
    margin:0;
    padding:0;
    background:#0b99a9;
    height:2px;
    width: 100%;
    border:0;
}

.popup.show {
  display: block;
}

.popup {
  border: 3px;
  /* background-color: rgb(190, 223, 228); */
  border-radius: 5px;
  width: 400px;
  height: 610px;
  padding: 0 10px;
  /* padding-top: 10px; */
  /* margin-left: 10px; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#popup-date {
  float: right;
  margin-right: 10px; 
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: hsl(0, 0%, 0%);
  text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}

.popup-content-2 {
  position: relative;
  /* margin-top: 155px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  /* margin-left: 8px; */
}

.popup-diet {
  text-align: left;
}

.diet-image input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.image-upload-box:first-child {
  margin-top: 2px;
}



.image-upload-box:last-child {
  margin-bottom: 10px;
}

.image-upload-box img {
  width: 180px;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 5px;
  z-index: 1; /* 버튼 아래에 표시되도록 설정 */
}

.image-upload-box input[type="file"] {
  display: none;
}

.p-popup-diet {
  font-weight: 600;
  font-size: 18px;
  margin-left: 8px;
  margin: 0;
}

.popup-inbody {
  width: 200px;
  height: 470px;
  text-align: left;
}

.p-popup-inbody {
  margin: 0 4px;
  position: absolute;
  top: 10px;
  font-weight: 600;
  font-size: 18px;
}

.popup-inbody-check {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 10px;
}

.popup-inbody-input {
  position: absolute;
  background-color: hwb(0 100% 0%);
  top: 36px;
  width: 190px;
  height: 412px;
  padding: 1px;
  margin-left: 1px;
  border-radius: 5px;
}

.inbody-input::placeholder { color: #aaaaaa; }
.inbody-input:focus { outline: none; }

.popup-input {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.popup-input:first-child {
  margin-bottom: 30px;
}

.popup-weight p {
  font-size: 11px;
  font-weight: 500;
  margin: 6px 2px;
}

.popup-inbody-input input {
  width: 100px;
  height: 24px;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(190, 223, 228);
  margin: 10px 0;
}

.p-popup-exercise {
  position: absolute;
  padding: auto;
  font-weight: 600;
  font-size: 18px;
  color: black;
  margin: 0 ;
  padding: 5px;
}

.popup-content-1 {
  position: relative;
  /* top: 10px; */
  margin: 0 auto;
  /* border: #0b99a9 solid 2px; */
  width: 400px;
  height: 150px;
  border-radius: 5px;
}

.bi-plus-circle {
  position: relative;
  top: 2px;
  width: 20px;
  height: 20px;
}

.btn-add:hover {
  color: #0b99a9;
}

.popup-exercise {
  width: 385px;
  height: 110px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: auto;
  margin-left: 8px;
  position: absolute;
  top: 35px;
  left: -10px;
}

.btn-add-exercise {
  background: none;
  border: none;
  cursor: pointer;

}

.btn-add-exercise svg {
  width: 23px;
  height: 23px;
}

.p-add-exercise {
  font-size: 17px;
  margin: -1px 5px;
}

.p-add-exercise:hover {
  color: #0b99a9;
}

.btn-add {
  display: flex;
  width: 140px;
  height: 24px;
  margin: 10px;
}

.popup-exercise li {
  text-align: left;
}

.popup-choice-exercise {
  display: none;
  margin-bottom: 5px;
}

.popup-choice-exercise.show {
  display: block;
  position: absolute;
  top: 80px;
  left: 300px;
  width: 230px;
  height: 80px;
  border: 3px;
  background-color: rgb(255, 255, 255);
  border: solid #0b99a9;
  border-radius: 5px;
  z-index: 1000;
}

.close2 {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 5px;
  color: #aaa;
  float: right;
  font-size: 22px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #0b99a9;
  text-decoration: none;
  cursor: pointer;
}

.choice-exercise {
  display: flex;
  margin-top: 12px;
  margin-left: 15px;
}

.p-choice-exercise {
  margin: 0;
  font-size: 15px;
}

.select-exercise {
  width: 120px;
  height: 22px;
  font-size: 10px;
  font-weight: 600;
  background-color: hsl(0, 0%, 95%);
  border-radius: 4px;
  margin-left: 4px;
  border: 1px solid #0b99a9;
}

.count-exercise {
  display: flex;
  position: absolute;
  top: 45px;
  left: 14px;
}

.count-exercise p {
  margin: 0 5px;
}

.input-count-exercise {
  width: 28px;
  height: 20px;
  border-radius: 10px;
  border: 1.5px solid #0b99a9;
  padding-left: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#add-exercise-button {
  padding: 5px;
  position: absolute;
  top: 45px;
  left: 175px;
  font-weight: 600;
  font-size: 11px;
  width: 43px;
  height: 25px;
  border-radius: 15px;
  background-color: #ffffff;
}

#add-exercise-button:hover {
  background-color: #0b99a945;
}

hr {
  color: hwb(0 95% 5%);
  border-width: 1.5px;
}

#exercise-list li {
  margin: 4px 10px;
}

select optgroup {
  color: rgb(55, 196, 170);
  font-size: 16px;
  font-weight: 600;
}

.delete-exercise {
  background-color: transparent;
  border: none;
  width: 12.8px;
  height: 12.8px;
  margin-left: 3px;
}

.bi-x-square:hover {
  background-color: rgba(143, 143, 143, 0.441);
}

.btn-save-inbody:hover {
  background-color: rgba(190, 223, 228);
}

.check-exercise {
  width: 17px;
  height: 17px;
}

.btn-save-inbody {
  color: #585858;
  background-color: #fff;
  border-radius: 5px;
  border: #9a9a9a 1.5px solid;
  width: 176px;
  height: 32px;
  font-size: 13px;
  font-weight: 400;
  margin: 8px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn-delete-weight {
  color: #585858;
  background-color: #fff;
  border-radius: 5px;
  border: #9a9a9a 1.5px solid;
  width: 176px;
  height: 32px;
  font-size: 13px;
  font-weight: 400;
  margin: 8px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top:37px;
  z-index: 2;
}
.btn-delete-inbody:hover {
  background-color: rgba(190, 223, 228);
}


.p-weight-goal {
  width: 320px;
  height: 50px;
  margin-left: 30px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  outline: auto;
  outline-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-day {
  font-size: 64px; 
  font-weight: 600;
  margin: 40px auto;
}

.graph {
  width: 320px;
  height: 300px;
  /* margin-top: 20px; */
  margin-left: 30px;
  /* background-color: rgb(255, 255, 255); */
}

.inbody-graph {
  border-radius: 5px;
  outline: auto;
  outline-color: #e1e1e1;
  background-color: rgb(255, 255, 255);
  width: 320px;
  height: 270px;
}


.bi-person-bounding-box {
  width: 32px;
  height: 32px;
  color: #a6a6a6;
  margin-top: 80px; 
  margin-bottom: 10px;
}


.exercise-checkbox {
  display: none;
}

.exercise-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 1rem;
}

.exercise-label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #0b99a9;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 1px;
}

.exercise-checkbox:checked + .exercise-label::before {
  background-color: #0b99a9;
  border-color: #0b99a9;
}

.exercise-checkbox:checked + .exercise-label::after {
  content: '';
  display: block;
  width: 4.8px;
  height: 9.6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  position: absolute;
  left: 7px;
  top: 5px;
}

#today-weight {
  position: absolute;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-upload-box {
  text-align: center;
  color: #646464;
  width: 180px;
  height: 125px;
  border: 2px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ffffff;
  /* margin-top: 8px; */
  position: relative; /* 상대 위치 */
  z-index: 1;
}

.morning-box, .lunch-box, .dinner-box{
  position: relative;
  text-align: center;
}


.saveButton1, .saveButton2, .saveButton3  {
  /* display: block; */
  font-size: 18px;
  font-weight: 600;
  background-color: #ffffff;
  width: 80px;
  height: 32px;
  border-radius: 5px;
  border: #0da6b749 solid 2px;
  /* margin-top: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
} 

.saveButton1{
  position: absolute; /* 절대 위치 */
  top: 80px; /* 상단에 위치 */
  left: 50px; /* 왼쪽에 위치 */
  z-index: 2; /* 이미지 위에 위치하도록 설정 */
}

.saveButton2{
  position: absolute; /* 절대 위치 */
  top: 237px; /* 상단에 위치 */
  left: 50px; /* 왼쪽에 위치 */
  z-index: 2; /* 이미지 위에 위치하도록 설정 */
}
.saveButton3{
  position: absolute; /* 절대 위치 */
  top: 367px; /* 상단에 위치 */
  left: 50px; /* 왼쪽에 위치 */
  z-index: 2; /* 이미지 위에 위치하도록 설정 */
}

.morning-box{
  position: relative;
}

.img-morning, .img-lunch, .img-dinner{
  /* position: absolute; */
  /* top: 0; */
  width: 180px;
  height: 125px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 5px;
  top: 42px;
  left: 0;
  z-index: 1;
}

.nunbody-image-box {
  background-color: #fdfdfd;
  border: #0da6b749 solid 2px;
  width: 182px;
  height: 300px; 
  margin: 3px auto;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.image-nunbody input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.nunbody-image-box p {
  font-size: 13px;
  color: #a6a6a6;
}


.nunbody-image-box img {
  width: 182px;
  height: 300px; 
  border-radius: 5px;
}

.img-nunbody {
  width: 182px;
  height: 300px; 
  max-height: 300px; /* 최대 높이를 설정하여 비율 유지 */
  object-fit: cover; /* 이미지가 컨테이너를 덮도록 설정하면서 비율 유지 */
  border-radius: 5px; /* 모서리 둥글게 */
  position: absolute;
  top: 5px;
  left: 5px;
}

.saveNunbody{
  font-size: 18px;
  font-weight: 600;
  background-color: #ffffffba;
  width: 182px;
  height: 300px; 
  border-radius: 5px;
  border: #0da6b749 solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 6px;
  left: 5px;
  color: black;
}

.choice-inbody-graph{
  margin-bottom: 20px;
  cursor: pointer;
  /* background-color: transparent; */
  /* border: none; */
}

.weight, .BMI, .SMM, .BFM, .BFP{
  margin: 0 4px;
  background-color: #ffffff;
  font-size: 14px;
   /* background-color: transparent; */
  font-weight: 500;
  text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
  /* border: none; */
  border: #9a9a9a solid 1px;
  color: #585858;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;

}

.p-weight{
  /* font-size: 25px; */
  font-weight: 400;
}

