body {
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #0b99a9, #ffffff);
}

header {
    background-color: white;
}

.main-1-text {
    color:white;
}

#main-1,
#main-2,
#main-3,
#main-4 {
    height: 100vh;
}

#main-1 {
    width: 100%;
    /* background-color: #0B98A9; */
    margin-top: -55px;
}

h1 {
    padding-top: 150px;
    font-size: 80px;
}

#mean {
    font-size: 24px;
}

#mean-kr {
    font-size: 16px;
}

span {
    color: #00365A;
}

#화살표 {
    padding-top: 250px;
}

#사용법알아보기 {
    padding-bottom: 100px;
}

#main-2 {
    display: flex;
    justify-content:space-evenly;
    /* background: linear-gradient(to bottom, #ffffff, #0b99a9); */
    /* background: inherit; */
    align-items: center;
}

#main-2-text {
    color: black;
    text-align: right;
}

.main-2-text {
    font-size: 40px;
    padding:0;
    margin:0;
}

.main-2-text-small {
    font-size: 20px;
}

#main-3 {
    /* background-color: #0b99a9; */
    /* background: linear-gradient(to bottom, #0b99a9, #ffffff); */
    /* background: inherit; */
    display: grid; /* Grid 레이아웃을 사용하여 요소 배치 */
    grid-template-columns: 30% 30%; /* 두 개의 열로 나누기 */
    justify-content: center; /* 좌우 중앙 정렬 */
    align-items: center; /* 상하 중앙 정렬 */
}

.main-3-text {
    text-align: left;
    color: black;
    font-size: 40px;
    padding:0;
    margin:0;
}

.main-3-text-small {
    font-size: 20px;
}

.main-3-img {
    object-fit: cover;
}

#main-4 {
    display: flex;
    justify-content: center;
    /* background: linear-gradient(to bottom, #ffffff, #0b99a9); */
    /* background: linear-gradient(to bottom, #0b99a9, #ffffff); */
}

#main-4-first-text {
    margin-top: 600px;
}

.main-4-text {
    text-align: left;
    font-size: 40px;
    margin:0;
}

.main-4-text-small {
    font-size: 20px;
    margin:0;
}

#main-4-img {
    width: 40%;
    overflow: hidden;
    object-fit: fill;
    
}