body {
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #0b99a9dc, #ffffff);
}

header {
    background-color: white;
}

.main-1-text {
    color:white;
    /* text-shadow: 0px 0px 3px  rgb(179, 179, 179) ; */
}

#main-1,
#main-2,
#main-3,
#main-4 {
    height: 100vh;

}

#main-1 {
    width: 100%;
    /* background-color: #0B98A9; */
    margin-top: -55px;
}

h1 {
    padding-top: 150px;
    font-size: 80px;
}

#mean {
    font-size: 24px;
}

#mean-kr {
    font-size: 16px;
}

span {
    color: #00365A;

}

#arrow {
    padding-top: 230px;
    animation: before-bounce 0.5s infinite alternate; /* 애니메이션 적용 */

}

@keyframes before-bounce {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-8px);
  }
}



#사용법알아보기 {
    padding-bottom: 100px;
}

.slogan{
    display: flex;
    justify-content:center;
    color:white;
    font-size: 18px;
    font-weight: 400;
    animation: slogan;
}
/* 

@keyframes slogan {
  0%{
    color: transparent;
  }100%{
    color: #ffffff;
  }
} */



#main-2 {
    display: flex;
    justify-content:center;
    /* background: linear-gradient(to bottom, #ffffff, #0b99a9); */
    /* background: inherit; */
    align-items: center;
}

#main-2-text {
    color: black;
    text-align: right;
    margin-left: 50px;
}

.main-2-text {
    font-size: 40px;
    padding:0;
    margin:0;
}

.main-2-text-small {
    font-size: 20px;
}

#main-2-img {
    width: 600px;
}

#main-3 {
    display: grid; /* Grid 레이아웃을 사용하여 요소 배치 */
    grid-template-columns: 30% 30%; /* 두 개의 열로 나누기 */
    justify-content: center; /* 좌우 중앙 정렬 */
    align-items: center; /* 상하 중앙 정렬 */
    grid-column-gap: 150px;
}

.main-3-text {
    text-align: left;
    color: black;
    font-size: 40px;
    padding:0;
    margin:0;
}

.main-3-text-small {
    font-size: 20px;
}

.main-3-img {
    object-fit: cover;
    width: 600px;
}

#main-4 {
    display: flex;
    justify-content: center;
    /* background: linear-gradient(to bottom, #ffffff, #0b99a9); */
    /* background: linear-gradient(to bottom, #0b99a9, #ffffff); */
}

#main-4-first-text {
    margin-top: 600px;
}

.main-4-text {
    text-align: left;
    font-size: 40px;
    margin:0;
}

.main-4-text-small {
    font-size: 20px;
    margin:0;
}

#main-4-img {
    margin-top: 200px;
}

.bundle-split-logo{
    display: flex;
    justify-content: center;
    width: 500px;
    position: relative;
    margin: 0 auto;

}

.split-logo ,.plus, .test{
    color: #ffffff;
    font-size: 30px;
}

.Heal{
    position: relative;
    left: -50px;
    /* animation-name: slogan; */
}

.lan{
    position: absolute;
    left: 223px;
}

.Cal{
    position: absolute;
    left: 265px;
}

.er{
    position: absolute;
    left: 310px;
}

.bundle-split-logo {
    display: flex;
    justify-content: center;
    width: 500px;
    position: relative;
    margin: 0 auto;
  }
  
  .split-logo {
    color: #ffffff;
    font-size: 30px;
  }
  
  
  
  .Heal {
    position: relative;
    left: -25px;
    animation: moveHeal 3s ;
    animation-fill-mode: forwards ;
    animation-delay: 3s;
  }
    
  @keyframes moveHeal {
    0% {
      left: -25px;
    } 100% {
      left: -195px;
    }
  }
  
  .plus{
    position: relative;
    color: transparent;
  }

  .plus1{
    left: -60px;
    animation: plus1 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards ;
  }

  @keyframes plus1{
    0%{
      color: transparent;
      left: -60px;
    }
    100%{
      color: #ffffff;
      left: -155px;
    }
  }

  .plus2{
    left: 0;
    animation: plus2 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards ;
  }

  @keyframes plus2{
    0%{
      color: transparent;
      left: 0;
    }
    100%{
      color: #ffffff;
      left: -80px;
    }
  }

  .plus3{
    left: 20px;
    animation: plus3 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards ;
  }

  @keyframes plus3{
    0%{
      color: transparent;
      left: 20px;
    }
    100%{
      color: #ffffff;
      left: 60px;
    }
  }

  .lan {
    position: absolute;
    left: 223px;
    animation: moveLan 3s ;
    animation-fill-mode: forwards ;
    animation-delay: 3s;

  }

  @keyframes moveLan {
    0% {
      left: 223px;
    } 100% {
      left: 145px;
    }
  }
  
  .Cal {
    position: absolute;
    left: 265px;
    animation: moveCal 3s ;
    animation-fill-mode: forwards ;
    animation-delay: 3s;

  }
    
  @keyframes moveCal {
    0% {
      left: 265px;
    } 100% {
      left: 215px;
    }
  }

  .er {
    position: absolute;
    left: 310px;
    animation: moveEr 3s ;
    animation-fill-mode: forwards ;
    animation-delay: 3s;

  }    
 
  @keyframes moveEr {
    0% {
      left: 310px;
    } 100% {
      left: 472px;
    }
  }

 
  .th, .P, .endar, .Record{
    font-size: 30px;
    animation-delay: 7s;
    animation: hidden 10s;
  }
  
  @keyframes hidden{
    0%{
        color: transparent;
    }50%{
      color: transparent;
    }
    100%{
        color: #00365A;
    }
  }


  .th{
    position: absolute;
    left: 63px;
  }
  .P{
    position: absolute;
    left: 125px;
  }
  .endar{  
    position: absolute;
    left: 260px;
  }
  .Record{
    position: absolute;
    left: 375px;
  }

 

  html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    background-color: #f2f2f2;
    width: 100%;
    border-top: 1px solid #c4c4c4;
    padding-top: 15px;
    padding-bottom: 15px; 
    color: #808080;
    font-size: 11px;
    flex-shrink: 0;
  }
  
  footer a {
    display: inline-block;
    margin: 0 20px 10px 20px;
    color: #808080;
    font-size: 11px;
  }
  
  footer a:visited {
    color: #808080;
  }
  
  footer p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  footer p span {
    display: inline-block;
  }
  
  main {
    flex-grow: 1;
    margin-bottom: 100px; 
  }
  
