 /* 기본 스타일 초기화 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* 캘린더 이미지 */
.join_calendar {   
    position: absolute;
    width: 500px;
    height: 520px;
    left: 50%; /* 부모 요소의 가로 중앙에 위치하기 위해 왼쪽 여백을 50%로 설정 */
    transform: translateX(-50%); /* 이미지의 가로 중앙을 부모 요소의 중앙에 맞춤 */
    margin: 0 auto; /* 수평 및 수직 가운데 정렬 */
    pointer-events: none;
}

h2 {  /* 로그인 박스 안 로고 */
    font-family : 'Oleo Script Swash Caps';
    text-align: center;
    font-size: 35px;
    position: relative;
    top: 100px;
}

/* 입력 박스 전체 */
form { 
    position: relative;
    top: 90px;
}

div {
    display: flex;
    align-items: center;
}

#id_pw_join,#detail_join {
    position: relative;
    width: 350px;
    border:2px solid lightgray;
    border-radius: 5px;
    margin: 50px auto;
}

#id_pw_join {
    /* margin-top: 160px; */
}

.basic_join,.detail_join {
    width: 90%;
    margin: 5px auto;
    padding: 3px 0;
    border: 0;
}

.basic_join:focus,
.detail_join:focus {
    outline: none; 
    color: rgb(11, 154, 167);
}

input[placeholder] {
    font:inherit;
    font-size: 18px;
}

.img_join {
    /* width: 25px; */
    padding: 10px;
    margin: 0;
}

#select-gender {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.gender-label {
    flex: 1;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: 8px 0;
    border: 1px solid lightgray;
}

.gender-label:hover {
    color: rgb(11, 154, 167);
    font-weight: 600;
    border-color: rgb(11, 154, 167);
}

#select-gender input[type="radio"] {
    display: none; 
}

#select-gender input[type="radio"]:checked + label {
    /* 선택된 상태의 label 스타일 */
    font-weight: 600;
    color: rgb(11, 154, 167);
    border-color: rgb(11, 154, 167);
}

hr {
    margin:0;
    padding:0;
    background:lightgrey;
    height:2px;
    border:0;
}

.btn-join {  
    margin: 0 auto ;
    margin-top: 55px;
    font:inherit;
    font-weight: 700;
    color: white;
    border-radius: 6px;
    border: 1px solid lightgray;
    background-color: rgb(11, 154, 167);
    padding: 10px 40px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

button:hover {
    background-color: rgb(55, 196, 170);
    color: white;
    border-color:  rgb(55, 196, 170);  
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.return-to-login {
    /* display: block; */
    text-align: center;
    text-decoration: none;
    color: rgb(151, 151, 151);
    margin: 5px auto;
}

.return-to-login:hover {
    color: rgb(11, 154, 167);
}

