.join-page2 { display: none; }
.join-page1 { display: block; }

h2 {  /* 로그인 박스 안 로고 */
    font-family : 'Oleo Script Swash Caps';
    text-align: center;
    font-size: 35px;
    position: relative;
}

form {    /* 로그인 박스 전체 */
    position: relative;
    margin: 0 auto;
    /* margin-top: 200px; */
    width: 500px;
    height: 280px;
    padding: 10px;
    /* border: 1px solid rgb(0, 53, 89); */
    border-radius: 12px;
    text-align: center;
    position: relative;
    top: 120px;
}

form img {
    position: absolute;
    width: 80%; 
    margin:auto;
    right: 52px;
    top: 10px;
    pointer-events: none;
}

form input {   /* 아이디, 비밀번호 입력 박스 */
    /* display: block; */
    width: 300px;
    height: 35px;
    padding: 20px;
    box-sizing: border-box;
    margin: 4px auto;
    margin-bottom: 8px;
    border: 1.5px solid rgb(11, 154, 167);
    border-radius: 6px;
    /* position: relative; 로고(h2) 기준 */
    padding-left: 40px;
}

form input:focus {      
    border: 2px solid rgb(0, 53, 89);
}

form input[text] {
    font-family: 'Noto Sans Kr';
}

#id {
    background-image: url("/images/person.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
}

#pw {
    background-image: url("/images/lock.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
}

#btn-login {    /* 로그인 버튼 */
    font-weight: bold;
    width: 300px;
    height: 40px;
    /* display: block; */
    margin: auto;
    margin-top: 5px;
    /* padding: 16px 80px; */
    position: relative;  /* 구조상 부모요소(pw입력박스) 기준으로 position 값 지정 */
    top: 8px;
    /* bottom: 20px; */
    border-radius: 6px;
    border: 1.5px solid rgb(11, 154, 167);
    background-color:  rgb(11, 154, 167);
    font-size: 18px;
    color: white;
}

#btn-login:hover {
    border: 1.5px solid  rgb(55, 196, 170);
    background-color: rgb(55, 196, 170);
    color: white;
}

#a-find-total {    /* 비밀번호 찾기 | 아이디 찾기 | 회원가입 */

    margin: auto;
    text-align: center;
    padding-top: 32px;
    font-size: 15px;
    position: relative;
    top: 110px;
}

.a-find {
    text-decoration: none;
    color: gray;
    padding: 16px;
}

.a-find:hover {
    color: rgb(0, 53, 89);
}


/* svg {
    position: absolute;
    left: 35px;
    top: 3px;
    z-index: 1;
    color: rgb(78, 77, 77);
} */
