.join_calendar {
    position: absolute;
    width: 50%;
    margin: auto;
}


div {
    display: flex;
    align-items: center;
}

#id_pw_join,#detail_join {
    position: relative;
    width: 350px;
    border:2px solid lightgray;
    border-radius: 5px;
    margin: 50px auto;
}

#id_pw_join {
    margin-top: 200px;
}

.basic_join,.detail_join {
    width: 90%;
    margin: 5px auto;
    padding: 10px 0;
    border: 0;
}

.basic_join:focus,
.detail_join:focus {
    outline: none; 
    color: rgb(11, 154, 167);
}

input[placeholder] {
    font:inherit;
    font-size: 20px;
}

.img_join {
    width: 25px;
    padding: 10px;
    margin: 0;
}

#select-gender {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gender-label {
    flex: 1;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
    border: 1px solid lightgray;
}

.gender-label:hover {
    color: rgb(11, 154, 167);
    font-weight: 600;
    border-color: rgb(11, 154, 167);
}

#select-gender input[type="radio"] {
    display: none; 
}

#select-gender input[type="radio"]:checked + label {
    /* 선택된 상태의 label 스타일 */
    font-weight: 600;
    color: rgb(11, 154, 167);
    border-color: rgb(11, 154, 167);
}

hr {
    margin:0;
    padding:0;
}

.btn-join {
    margin: auto;
    margin-top: 50px;
    font:inherit;
    font-weight: 700;
    color: white;
    border-radius: 6px;
    border: 1px solid lightgray;
    background-color: rgb(11, 154, 167);
    padding: 15px 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

button:hover {
    background-color: rgb(55, 196, 170);
    color: white;
    border-color:  rgb(55, 196, 170);  
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}


.return-to-login {
    /* display: block; */
    text-align: center;
    text-decoration: none;
    color: rgb(151, 151, 151);
    margin: 15px auto;
}

.return-to-login:hover {
    color: rgb(11, 154, 167);
}
