
#exercise{
    color:#37C4AA;
}

.title {
    color: #0B99A7;
    font-size:38px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    max-width: 900px;
    position: absolute; /* 위치 조정을 위해 relative 설정 */
    top: 140px; 
    left:calc(50% - 200px/2 - 235px);
}



/* 사이드 프로필+운동부위 나열 */
.sidebar {
    width: 240px;
    padding: 20px;
    background-color: #f7f7f7;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box;
    height: auto;
    align-self: stretch;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-name {
    margin: 10px 0;
    font-weight: bold;
}

.profile-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    font-size: 14px;
}

.profile-button:hover {
    background-color: rgb(55, 196, 170);
    border-color: rgb(55, 196, 170);
}

.main-content h1 {
    color: rgb(11, 154, 167);
    margin-bottom: 20px;
}

.menu {
    margin-top: 20px;
}
.menu ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.menu ul li a:hover {
    color: rgb(55, 196, 170);
}



/*여기서부터는 운동 나열*/

.search-container {
    position: absolute;
    width: 300px;
    height: 35px;
    right: calc(30% - 200px/2 - 200px);
    top: 141px; /* title과 동일 라인 */
    display: flex;
    align-items: center;
}

.search-box {
    width: 300px; /* 검색 버튼 공간 확보를 위해 조정 */
    height: 35px;
    border: 1px solid #37C4AA;
    border-radius: 15px;
    padding-left: 10px;
    box-sizing: border-box;
}

.search-button {
    width: 80px;
    height: 35px;
    border-radius: 15px;
    background: #37C4AA;
    color: #FFFFFF;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0; /* 버튼을 입력 필드 오른쪽에 위치 */
    top: 0;
}

.exercises-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* 줄 넘김 허용 */
    max-width: 1100px; /* 컨테이너의 최대 너비 설정 */
    position:absolute;
    top:190px;
    left:calc(50% - 200px/2 - 255px);
}

.exercise {
    margin: 9px; /* 각 항목 주변의 여백 */
    text-align: center; /* 텍스트 중앙 정렬 */
    display: flex;
    flex-direction: column-reverse; /* 이미지 아래에 텍스트가 오도록 세로 배열 반전 */
    align-items: center; /* 내용물을 중앙 정렬 */
    width: 150px; /* 각 항목의 너비 설정 */
}

.exercise img {
    width: 100%; /* 이미지 너비 조정, 가변 너비 */
    height: auto; /* 이미지 높이 자동 조정 */
}

.exercise .text {
    margin-bottom: 5px; /* 이미지와 텍스트 사이의 간격 */
    font-size: 14px; /* 텍스트 크기 설정 */
}

@media (max-width: 738px) {
    .title {
        font-size: 27px; 
        top: 90px; 
        left: calc(78% - 200px/2 - 100px); 
    }

    .search-container {
        width: 220px;
        height: 35px;
        right: calc(40% - 200px/2 - 100px); 
        top: 91px; 
    }

    .search-box {
        width: 250px; 
    }

    .search-button {
        width: 60px;
    }

    .exercises-container {
        max-width:390px; 
        top: 140px;
        left: 27%;
        width: 100%;
        padding: 0 20px; 
    }

    .exercise {
        margin: 5px 5px; 
        width: 30%;
    }

    .exercise img {
        width: 80%; 
        height: auto; 
    }

    .exercise .text {
        font-size: 14px; 
    }

    .sidebar {
        width: 30%;
        padding: 10px; 
        border-right: none; 
        border-bottom: 1px solid #e0e0e0; 
    }

    .profile {
        margin-bottom: 10px;
    }

    .profile-image {
        width: 80px; 
        height: 80px; 
    }

    .profile-name {
        font-size: 16px; 
    }

    .profile-button {
        padding: 8px; 
        font-size: 12px; 
    }

    .menu ul li {
        margin-bottom: 8px; 
    }

    .menu ul li a {
        font-size: 14px; 
    }
}

