h1 {
    margin: 80px auto 50px auto;
    color: rgb(11, 154, 167);
}

.board-list {
    margin: auto;
    width: 1000px;
    border: 3px solid rgb(11, 154, 167);
    border-radius: 6px;
}

.board {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 25px;
    border-bottom: 1px solid rgb(11, 154, 167);
}

.board.last-post {
    border-bottom: none;
}

.board h4 {
    margin-top: 8px;
}

.board h4 a {
    margin:0;
    color:rgb(11, 154, 167);
    text-decoration: none;
}

.board h4 a:hover {
    color: rgb(0,53,89);
}

.board h3 {
    margin: 10px 0;
}

.board h3 a {
    text-decoration: none;
    color: rgb(0,53,89);
}

.board h3 a:hover {
    color: rgb(11, 154, 167);
}

.low-element {
    display:flex;
    width: 180px;
    margin: 10px auto 10px 40px;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin:0;
}

.low-element span {
    margin-bottom: 8px;
}

.low-element p {
    margin-bottom: 8px ;
    margin-top:0;
}

.pagination {
    margin: 20px;
    margin-bottom: 100px;
}

.numbering {
    padding: 5px;
    font-size: 20px;
    color: rgb(0,53,89);
    text-decoration: none;
}

.numbering:hover {
    color: rgb(11, 154, 167);
}

.numbering.current-page {
    color: rgb(55, 196, 170);
}
