<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/shared.css" />
    <link rel="stylesheet" href="styles/diary.css">
    <script src="routes/diary.js" defer></script>

</head>
<body>
    <%- include('includes/header') %>
    <div class = "container">
        <!-- 캘린더 -->
        <div class="calendar">
            <!-- 달력 상단 부분 -->
                <div class="year-month">
                    <div class="current-date">
                        <span class="current-year"></span>
                        <span class="current-month"></span>
                    </div >
                    <input type="month" id="monthPicker"/> 
                    <!-- 달력 넘기기 버튼 -->
                    <div class="icons">
                        <span id="prev" class="btn-month btn-left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
                            <path d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753"/>
                            </svg>
                        </span>
                        <span id="next" class="btn-month btn-right">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                            <path d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753"/>
                            </svg>
                        </span>
                    </div>
                </div>
            
            <!-- 달력 부분 -->
                <div class="weeks-days">
                    <ul class="weeks">
                        <li>일</li>
                        <li>월</li>
                        <li>화</li>
                        <li>수</li>
                        <li>목</li>
                        <li>금</li>
                        <li>토</li>
                    </ul>
                    <hr/>
                    <ul class="days">
                    </ul>
                </div>
             </div>

             <!-- 우측 내용 -->
            <div class="calendar-right">
                <div class="kcal">
                    <p class="p-ko-kcal">오늘의 <br> 소모칼로리</p>
                    <p class="p-kcal">0</p>   
                    <p class="p-en-kcal">Kcal</p>
                </div>   

                <div class="D-day">
                </div>   
                <div class="graph">
                </div>
                <!-- 팝업 창 -->
                <div id="popup" class="popup">
                    <div class="popup-content-1">
                        <span class="close">&times;</span>
                        <p class="popup-text">오늘의 운동</p>
                        <p id="popup-date"></p>
                        <div class="popup-exercise">
                        <img src="" alt="">
                    </div>  
                </div>
            </div>
        </div>
    </div>
</body>
</html>