<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/index.css">
    <script src="/scripts/index.js" defer></script>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <div id="main-1">
            <h1 class="main-1-text">H e a l a n C a l e r</h1>
                <div class="bundle-split-logo">
                    <span class="split-logo Heal">Heal</span>
                        <span class="hidden th">th</span>
                        <span class="plus plus1">+</span>
                        <span class="hidden P">P</span>
                    <span class="split-logo lan">lan</span>
                        <span class="plus plus2">+</span>
                    <span class="split-logo Cal">Cal</span>
                        <span class="hidden endar">endar</span>
                        <span class="plus plus3">+</span>
                        <span class="hidden Record">Record</span>
                    <span class="split-logo er">er</span>
                </div>
                
            <span class="slogan"></span>
            <a href="#main-2"><img src="arrow.png" alt="arrow" id="arrow"></a>
            <p id="사용법알아보기" class="main-1-text">헬랜캘러의 페이지 사용법 알아보기</p>
        </div>

       
        <div id="main-2">
            <img id="main-2-img" src="/main2-img.png" alt="달력">
            <div id="main-2-text">
                <p class="main-2-text">모든 페이지를 한눈에</p>
                <p class="main-2-text"><b>다이어리 페이지</b></p>
                <p class="main-2-text-small" class="main-2-text">오늘의 운동과 식단, 인바디를</p>
                <p class="main-2-text-small" class="main-2-text">한페이지에서 쉽게 기록할 수 있어요.</p>
            </div>
        </div>

        <div id="main-3">
            <div id="main-3-text">
                <p class="main-3-text">사람들과 교류할 수 있는</p>
                <p class="main-3-text"><b>게시판 페이지</b></p>
                <p class="main-3-text main-3-text-small"><small>오운완, 식단 정보, 질문 등 다양한 카테고리의 게시판에서</small></p>
                <p class="main-3-text main-3-text-small"><small>운동자극도 받고 소통하며 유익한 공간을 형성할 수 있어요.</small></p>
            </div>
            <div>
                <img src="/main3-img1.png" alt="img1" class="main-3-img">
            </div>
            <div>
                <img src="/main3-img2.png" alt="img1" class="main-3-img">
            </div>
            <div>
                <img src="/main3-img3.png" alt="img1" class="main-3-img">
            </div>
        </div>
        <div id="main-4">
            <div id="main-4-text">
                <p class="main-4-text" id="main-4-first-text">원터치로 알려주는</p>
                <p class="main-4-text"><b>운동법 페이지</b></p>
                <p class="main-4-text main-4-text-small"><small>운동법을 몰라 방황하는 헬린이들 집중!</small></p>
                <p class="main-4-text main-4-text-small"><small>한 번의 클릭으로 원하는 운동의 운동법 영상을 볼 수 있어요</small></p>
                <p class="main-4-textt main-4-text-small"><small>무슨 운동을 해야할 지 고민이라면 이미지를 보고 운동을 골라보세요</small></p>
            </div>
            <img src="/main4-img.png" id="main-4-img" alt="">
        </div>
    </main>
</body>
</html>
