<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/shared.css" />
    <link rel="stylesheet" href="styles/join.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <main>        
    </form>
      <img class="join_calendar" src="회원가입달력.png" alt=""/>
      <form action="/join" method="POST" id="id_pw_join" class="form">
        <div class="img_placeholder">
          <img src="images/person.svg" alt="person" class="img_join" />
          <input
            type="text"
            name="join-id"
            placeholder="아이디"
            class="basic_join"
            id="id_join"
            required
          />
        </div>
        <hr/>
        <div class="img_placeholder">
          <img src="images/lock.svg" alt="lock" class="img_join" />
          <input
            type="password"
            name="join-pw"
            placeholder="비밀번호"
            class="basic_join"
            id="pw_join"
            required
          />
        </div>
        <hr>
        <br>
        <br>
        <hr>
        <div>
            <img src="images/person.svg" alt="person" class="img_join" />
            <input
              type="text"
              name="name_join"
              placeholder="이름"
              class="detail_join"
              id="name_join"
              required
            />
          </div>
          <hr/>
          <div>
            <img src="images/calendar4-event.svg" alt="person" class="img_join" />
            <input
              type="date"
              name="birth_join"
              placeholder="생년월일 8자리"
              class="detail_join"
              id="birth_join"
              required
            />
          </div>
          <hr/>
          <div>
            <img src="images/phone.svg" alt="person" class="img_join" />
            <input
              type="text"
              name="telnumber_join"
              placeholder="전화번호"
              class="detail_join"
              id="telnumber_join"
              required
            />
          </div>
          <hr/>
          <div id="select-gender">
            <input type="radio" name="join-gender" id="join-man"/>
            <label for="join-gender" class="gender-label">남자</label>
            <input type="radio" name="join-gender" id="join-woman"/>
            <label for="join-gender" class="gender-label">여자</label>
          </div>
  
          <script>
            document.addEventListener("DOMContentLoaded", function () {
              const genderLabels = document.querySelectorAll(".gender-label");
              genderLabels.forEach(function (label) {
                label.addEventListener("click", function () {
                  const radioButton = label.previousElementSibling;
                  radioButton.checked = true;
                });
              });
            });
          </script> 
      </form>
      
      <div>
          <button form="id_pw_join" class="btn-join">회원가입</button>
      </div>
        <div>
          <a href="login" class="return-to-login">로그인하러 가기</a>
        </div>
    </main>
  </body>
</html>
