<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/shared.css" />
    <link rel="stylesheet" href="styles/leg_list.css"/>
</head>
<body>
    <%- include('includes/header') %>
    <%- include('exercise/ex_fix') %>
    <%- include('exercise/ex_back') %>

    <h1 class="title">등</h1>

    <div class="search-container">
        <input type="text" id="search-box" class="search-box" placeholder="운동 검색...">
        <button id="search-button" class="search-button">검색</button>
    </div>

    <script src="/scripts/search.js"></script>
</body>
</html>
