<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/shared.css" />
    <link rel="stylesheet" href="styles/leg_list.css"/>
</head>
<body>
    <%- include('includes/header') %>
    <%- include('includes/ex_fix') %>

    <h1 class="title">등</h1>
    <div class="exercises-container">
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_LOW.gif" alt="덤벨 로우"></a>
            <span class="text">덤벨 로우</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/OA_DB_ROW.gif" alt="원암 덤벨 로우"></a>
            <span class="text">원암 덤벨 로우</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CABLE_ARM_PULL_DOWN.gif" alt="케이블 암 풀다운"></a>
            <span class="text">케이블 암 풀다운</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SEATED_CABLE_ROW.gif" alt="시티드 케이블 로우"></a>
            <span class="text">시티드 케이블 로우</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/GOOD_MORN.gif" alt="굿모닝 엑서사이즈"></a>
            <span class="text">굿모닝 엑서사이즈</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/PULL_UP.gif" alt="풀업"></a>
            <span class="text">풀업</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/WEI_PULL_UP.gif" alt="중량 풀업"></a>
            <span class="text">중량 풀업</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CHIN_UP.gif" alt="친업"></a>
            <span class="text">친업</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/WEI_CHIN_UP.gif" alt="중량 친업"></a>
            <span class="text">중량 친업</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/INC_BB_ROW.gif" alt="인클라인 바벨 로우"></a>
            <span class="text">인클라인 바벨 로우</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/INC_DB_ROW.gif" alt="인클라인 덤벨 로우"></a>
            <span class="text">인클라인 덤벨 로우</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/INVT_ROW.gif" alt="인버티드 로우"></a>
            <span class="text">인버티드 로우</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_PULLOVER.gif" alt="바벨 풀오버"></a>
            <span class="text">바벨 풀오버</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/MC_LOW.gif" alt="시티드 로우 머신"></a>
            <span class="text">시티드 로우 머신</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/LAT_PULL_DOWN.gif" alt="랫풀다운"></a>
            <span class="text">랫풀다운</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/WEI_HPET.gif" alt="중량 하이퍼 익스텐션"></a>
            <span class="text">중량 하이퍼 익스텐션</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BACK_ET.gif" alt="백 익스텐션"></a>
            <span class="text">백 익스텐션</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/T_BAR_ROW_MAC.gif" alt="티바 로우 머신"></a>
            <span class="text">티바 로우 머신</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/MAG_LAT_PULL_DOWN.gif" alt="맥그립 랫풀다운"></a>
            <span class="text">맥그립 랫풀다운</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/PAR_LAT_PULL_DOWN.gif" alt="패러럴그립 랫풀다운"></a>
            <span class="text">패러럴그립 랫풀다운</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/PAUSE_BB_ROW.gif" alt="정지 바벨 로우"></a>
            <span class="text">정지 바벨 로우</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/ASS_PULLUP_MC.gif" alt="어시스트 풀업 머신"></a>
            <span class="text">어시스트 풀업 머신</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/FLOOR_SEATED_ROW.gif" alt="플로어 시티드 케이블 로우"></a>
            <span class="text">플로어 시티드 케이블 로우</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/LYING_BB_ROW.gif" alt="언더그립 바벨 로우"></a>
            <span class="text">언더그립 바벨 로우</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/LYING_BB_ROW.gif" alt="라잉 바벨 로우"></a>
            <span class="text">라잉 바벨 로우</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BHD_NECK_PULL_DOWN.gif" alt="비하인드 넥 풀다운"></a>
            <span class="text">비하인드 넥 풀다운</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CABLE_OA_PULL_DOWN.gif" alt="원암 케이블 풀다운"></a>
            <span class="text">원암 케이블 풀다운</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/OA_LAT_WIDE_PULL_DOWN.gif" alt="원암 레터럴 와이드 풀다운"></a>
            <span class="text">원암 레터럴 와이드 풀다운</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/LOW_ROW_MC.gif" alt="로우 로우 머신"></a>
            <span class="text">로우 로우 머신</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/OA_LOW_ROW_MC.gif" alt="원암 로우 로우 머신"></a>
            <span class="text">원암 로우 로우 머신</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/HIGH_ROW_MC.gif" alt="하이 로우 머신"></a>
            <span class="text">하이 로우 머신</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/UNDER_HIGH_ROW_MC.gif" alt="언더그립 하이 로우 머신"></a>
            <span class="text">언더그립 하이 로우 머신</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/OA_HIGH_ROW_MC.gif" alt="원암 하이 로우 머신"></a>
            <span class="text">원암 하이 로우 머신</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/OA_CABLE_SEATED_ROW.gif" alt="원암 시티드 케이블 로우"></a>
            <span class="text">원암 시티드 케이블 로우</span>
        </div>
    </div>

    <div class="search-container">
        <input type="text" id="search-box" class="search-box" placeholder="운동 검색...">
        <button id="search-button" class="search-button">검색</button>
    </div>

    <script src="/scripts/search.js"></script>
    
</body>
</html>
