<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/shared.css" />
    <link rel="stylesheet" href="styles/leg_list.css"/>
</head>
<body>
    <%- include('includes/header') %>
    <%- include('includes/ex_fix') %>

    <h1 class="title">하체</h1>
    <div class="exercises-container">
        <div class="exercise">
            <a href="https://www.youtube.com/watch?v=_HGVsgUUEoU" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_DL.gif" alt="컨벤셔널 데드리프트"></a>
            <span class="text">컨벤셔널 데드리프트</span>
        </div>
        <div class="exercise">
            <a href="https://www.youtube.com/watch?v=RGb4Di4Dk_k" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_BSQT.gif" alt="바벨 백스쿼트"></a>
            <span class="text">바벨 백스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SM_SPLIT_SQT.gif" alt="스미스머신 스플릿 스쿼트"></a>
            <span class="text">스미스머신 스플릿 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/j8_4eK4Ybz0?si=dByP8DdXYXqm91g6" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SM_DL.gif" alt="스미스머신 데드리프트"></a>
            <span class="text">스미스머신 데드리프트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/xAzWNBmDS-I?si=eFYvBHC3umUIut_f" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SM_SQT.gif" alt="스미스머신 스쿼트"></a>
            <span class="text">스미스머신 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/AiVakG5Bc8Q?si=0b56S1IjDsHN9onF" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_LUNGE.gif" alt="덤벨 런지"></a>
            <span class="text">덤벨 런지</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/lI6Z6VIhOR4?si=8-XTwvDCmzWHZ-DK" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/GOBLET_SQT.gif" alt="덤벨 고블릿 스쿼트"></a>
            <span class="text">덤벨 고블릿 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/0InCElXJJ9E?si=mHrQrOXcZ9fmhzWu" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_STIFF_DL.gif" alt="덤벨 스티프 레그 데드리프트"></a>
            <span class="text">덤벨 스티프 레그 데드리프트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/ur3hZZR8CmE?si=6QnN2NsHkn78MDPD" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_FSQ.gif" alt="프론트 스쿼트"></a>
            <span class="text">프론트 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/3R5Vna6XvIM?si=ND8L8gmo9zHVkIqw" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/ZER_SQT.gif" alt="저처 스쿼트"></a>
            <span class="text">저처 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/pL9EFLzraYk?si=qM55xs5bElDciX5R" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_SPLIT_SQT.gif" alt="바벨 불가리안 스플릿 스쿼트"></a>
            <span class="text">바벨 불가리안 스플릿 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/pL9EFLzraYk?si=qM55xs5bElDciX5R" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_BULSPLIT_SQT.gif" alt="덤벨 불가리안 스플릿 스쿼트"></a>
            <span class="text">덤벨 불가리안 스플릿 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/isX0pDUue8g?si=RI3FxZGCCQ-sD7rl" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_SPLIT_SQT.gif" alt="덤벨 스플릿 스쿼트"></a>
            <span class="text">덤벨 스플릿 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/isX0pDUue8g?si=RI3FxZGCCQ-sD7rl" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BW_SPLIT_SQT.gif" alt="맨몸 스플릿 스쿼트"></a>
            <span class="text">맨몸 스플릿 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/SL-reYwCRes?si=Tpi2E63wjm2sNE_I" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/AIR_SQT.gif" alt="에어 스쿼트"></a>
            <span class="text">에어 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/JUMP_SQT.gif" alt="점프 스쿼트"></a>
            <span class="text">점프 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/KB_GOBLET_SQT.gif" alt="케틀벨 고블릿 스쿼트"></a>
            <span class="text">케틀벨 고블릿 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/UrVWkk5I2E4?si=FuPtCLhGzHM0XjIR" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/RM_BB_DL.gif" alt="루마니안 데드리프트"></a>
            <span class="text">루마니안 데드리프트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/foN9Ik0mSPY?si=kIdhUEIOtUzeYyAl" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SM_BB_DL.gif" alt="스모 데드리프트"></a>
            <span class="text">스모 데드리프트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/EV0F_3S7Sks?si=VSZt1OYJ-1T2eiDd" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/LEG_PRESS.gif" alt="레그 프레스"></a>
            <span class="text">레그 프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/6I0NiRc6yww?si=bd3dKul6idIE_4bl" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/LEG_CURL.gif" alt="레그 컬"></a>
            <span class="text">레그 컬</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/848TetspQEM?si=mIiQhPSdNz8gcVVg" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/LGE_EXT.gif" alt="레그 익스텐션"></a>
            <span class="text">레그 익스텐션</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/S6xGkL6RyGk?si=9oxvUB7-voRGQNbj" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/STD_CALF_RAISE.gif" alt="스탠딩 카프 레이즈"></a>
            <span class="text">스탠딩 카프 레이즈</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/LuaTibZN1V4?si=mcIt46bR4Oldqezd" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/INN_THIGH_MC.gif" alt="이너 싸이 머신"></a>
            <span class="text">이너 싸이 머신</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/mWg_QJcmJqc?si=cL7ca9aA4GlkHMjD" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/LUNGE.gif" alt="런지"></a>
            <span class="text">런지</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/X-4i6lp6UUE?si=VXIfCMAyAndNyN5x" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/STEP_UP.gif" alt="스텝업"></a>
            <span class="text">스텝업</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/3Klj3iaJGW4?si=y7yv9h6zguYSSSNi" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/WEI_STEP_UP.gif" alt="중량 스텝업"></a>
            <span class="text">중량 스텝업</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/HIP_THRUST.gif" alt="힙 쓰러스트"></a>
            <span class="text">힙 쓰러스트</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/WEI_HIP_THRUST.gif" alt="바벨 힙 쓰러스트"></a>
            <span class="text">바벨 힙 쓰러스트</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/V_SQT.gif" alt="브이 스쿼트"></a>
            <span class="text">브이 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/REV_V_SQT.gif" alt="리버스 브이 스쿼트"></a>
            <span class="text">리버스 브이 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/GLUTE_KB_MC.gif" alt="글루트 킥백 머신"></a>
            <span class="text">글루트 킥백 머신</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/HIP_ABD_MC.gif" alt="힙 어브덕션 머신"></a>
            <span class="text">힙 어브덕션 머신</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SEAT_CALF_RAISE.gif" alt="시티드 카프 레이즈"></a>
            <span class="text">시티드 카프 레이즈</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/PAUSE_SQT.gif" alt="정지 백 스쿼트"></a>
            <span class="text">정지 백 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/TRAP_DL.gif" alt="트랩바 데드리프트트"></a>
            <span class="text">트랩바 데드리프트</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CABLE_HIP_ABD.gif" alt="케이블 힙 어브덕션"></a>
            <span class="text">케이블 힙 어브덕션</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/HACK_SQT.gif" alt="핵 스쿼트 머신"></a>
            <span class="text">핵 스쿼트 머신</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/PAUSE_DL.gif" alt="정지 데드리프트"></a>
            <span class="text">정지 데드리프트</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/PAUSE_SM_DL.gif" alt="정지 스모 데드리프트"></a>
            <span class="text">정지 스모 데드리프트</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_BOX_SQT.gif" alt="바벨 박스 스쿼트"></a>
            <span class="text">바벨 박스 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_FR_LUNGE.gif" alt="바벨 프론트 랙 런지"></a>
            <span class="text">바벨 프론트 랙 런지</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_JUMP_SQT.gif" alt="바벨 점프 스쿼트"></a>
            <span class="text">바벨 점프 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_LUNGE.gif" alt="바벨 런지"></a>
            <span class="text">바벨 런지</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_LAT_LUNGE.gif" alt="바벨 레터럴 런지"></a>
            <span class="text">바벨 레터럴 런지</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_SPLIT_SQT_REAL.gif" alt="바벨 스플릿 스쿼트"></a>
            <span class="text">바벨 스플릿 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_STD_CALF_RAISE.gif" alt="바벨 스탠딩 카프 레이즈"></a>
            <span class="text">바벨 스탠딩 카프 레이즈</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/STIFF_DL.gif" alt="스티프 레그 데드리프트"></a>
            <span class="text">스티프 레그 데드리프트</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BW_OH_SQT.gif" alt="맨몸 오버헤드 스쿼트"></a>
            <span class="text">맨몸 오버헤드 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_SM_SQT.gif" alt="덤벨 스모 스쿼트"></a>
            <span class="text">덤벨 스모 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_LEG_CURL.gif" alt="덤벨 레그 컬"></a>
            <span class="text">덤벨 레그 컬</span>
        </div>
        <div class="exercise">
            <a href="" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_SQT.gif" alt="덤벨 스쿼트"></a>
            <span class="text">덤벨 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_HACK_SQT.gif" alt="바벨 핵 스쿼트"></a>
            <span class="text">바벨 핵 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SEAT_LEG_CURL.gif" alt="시티드 레그 컬"></a>
            <span class="text">시티드 레그 컬</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/HIP_THRUST_MAC.gif" alt="힙 쓰러스트 머신"></a>
            <span class="text">힙 쓰러스트 머신</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BW_CALF_RAISE.gif" alt="맨몸 카프 레이즈"></a>
            <span class="text">맨몸 카프 레이즈</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/GLUTE_BRDG.gif" alt="글루트 브릿지"></a>
            <span class="text">글루트 브릿지</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_RM_DL.gif" alt="덤벨 루마니안 데드리프트"></a>
            <span class="text">덤벨 루마니안 데드리프트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/LYING_HIP_ABD.gif" alt="라잉 힙 어브덕션"></a>
            <span class="text">라잉 힙 어브덕션</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SL_GLUTE_BRDG.gif" alt="싱글 레그 글루트 브릿지"></a>
            <span class="text">싱글 레그 글루트 브릿지</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/PISTOL_BOX_SQT.gif" alt="피스툴 박스 스쿼트"></a>
            <span class="text">피스툴 박스 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SIDE_LYING_CLAM.gif" alt="사이드 라잉 클램"></a>
            <span class="text">사이드 라잉 클램</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BW_SL_DEAD.gif" alt="맨몸 원레그 데드리프트"></a>
            <span class="text">맨몸 원레그 데드리프트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_SL_DEAD.gif" alt="바벨 원레그 데드리프트"></a>
            <span class="text">바벨 원레그 데드리프트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_SL_DEAD.gif" alt="덤벨 원레그 데드리프트"></a>
            <span class="text">덤벨 원레그 데드리프트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/KB_DL.gif" alt="케틀벨 데드리프트"></a>
            <span class="text">케틀벨 데드리프트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/KB_SM_DL.gif" alt="케틀벨 스모 데드리프트"></a>
            <span class="text">케틀벨 스모 데드리프트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_SM_DL.gif" alt="덤벨 스모 데드리프트"></a>
            <span class="text">덤벨 스모 데드리프트트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_LAT_LUNGE.gif" alt="덤벨 레터럴 런지"></a>
            <span class="text">덤벨 레터럴 런지</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/KB_LAT_LUNGE.gif" alt="케틀벨 레터럴 런지"></a>
            <span class="text">케틀벨 레터럴 런지</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BW_LAT_LUNGE.gif" alt="맨몸 레터럴 런지"></a>
            <span class="text">맨몸 레터럴 런지</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SL_LEG_EXT.gif" alt="원레그 익스텐션"></a>
            <span class="text">원레그 익스텐션</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SL_LEG_CURL.gif" alt="원레그 컬"></a>
            <span class="text">원레그 컬</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SL_LEG_PRESS.gif" alt="원레그 프레스"></a>
            <span class="text">원레그 프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/HZ_LEG_PRESS.gif" alt="수평 레그 프레스"></a>
            <span class="text">수평 레그 프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/HZ_SL_LEG_PRESS.gif" alt="수평 원레그 프레스"></a>
            <span class="text">수평 원레그 프레스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SEAT_SL_LEG_CURL.gif" alt="시티드 원레그 컬"></a>
            <span class="text">시티드 원레그 컬</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/NOR_HAM_CURL.gif" alt="노르딕 햄스트링 컬"></a>
            <span class="text">노르딕 햄스트링 컬</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_SM_SQT.gif" alt="바벨 스모 스쿼트"></a>
            <span class="text">바벨 스모 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/KB_SM_SQT.gif" alt="케틀벨 스모 스쿼트"></a>
            <span class="text">케틀벨 스모 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/KB_SM_AIR_SQT.gif" alt="스모 에어 스쿼트"></a>
            <span class="text">스모 에어 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/PISTOL_SQT.gif" alt="피스톨 스쿼트"></a>
            <span class="text">피스톨 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DONK_KICK.gif" alt="덩키 킥"></a>
            <span class="text">덩키 킥</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CABLE_DONK_KICK.gif" alt="케이블 덩키 킥"></a>
            <span class="text">케이블 덩키 킥</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DEFICIT_DL.gif" alt="데피싯 데드리프트"></a>
            <span class="text">데피싯 데드리프트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/LUNGE_TWIST.gif" alt="런지 트위스트"></a>
            <span class="text">런지 트위스트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/KB_LUNGE_TWIST.gif" alt="케틀벨 런지 트위스트"></a>
            <span class="text">케틀벨 런지 트위스트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CABLE_PULL_THRU.gif" alt="케이블 풀 스루"></a>
            <span class="text">케이블 풀 스루</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Z2l1EiZIN6o?si=oyjDGp40iPWEIvxS" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/MON_GLUTE_MC.gif" alt="몬스터 글루트 머신"></a>
            <span class="text">몬스터 글루트 머신</span>
        </div>
    </div>

    <div class="search-container">
        <input type="text" id="search-box" class="search-box" placeholder="운동 검색...">
        <button id="search-button" class="search-button">검색</button>
    </div>

    <script src="/scripts/search.js"></script>
    
</body>
</html>
