<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/shared.css" />
    <link rel="stylesheet" href="styles/leg_list.css"/>
</head>
<body>
    <%- include('includes/header') %>
    <%- include('includes/ex_fix') %>
   
    <h1 class="title">기타</h1>
    <div class="exercises-container">
        <div class="exercise">
            <a href="https://youtu.be/UyHetAErD9M?si=VJuoqGQtWahY43ub" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/THRUSTER.gif" alt="쓰러스터"></a>
            <span class="text">쓰러스터</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/0m_iskGtYSA?si=D3ZOWAgvsZNPB0rU" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BURPEE.gif" alt="버피"></a>
            <span class="text">버피</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/21itJelfnUw?si=Q7pKj8-J_l1P2l6H" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/KB_SWING.gif" alt="케틀벨 스윙"></a>
            <span class="text">케틀벨 스윙</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/weCnGXQ4ROQ?si=9iR98xzamMcveH7Z" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/FARMER_WALK.gif" alt="파머스 워크"></a>
            <span class="text">파머스 워크</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/hPmoWc0SggU?si=uNOyYf-ahnRVERQI" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/WB_SHOT.gif" alt="월볼 샷"></a>
            <span class="text">월볼 샷</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/DFtVTpRBsAY?si=60da8nukNRwMMoiF" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/MOUNT_CLIMB.gif" alt="마운틴 클라이머"></a>
            <span class="text">마운틴 클라이머</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/xrBTtAHgF6k?si=Pz5wP8QZr06p6hPe" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BOX_JUMP.gif" alt="박스 점프"></a>
            <span class="text">박스 점프</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/iSSAk4XCsRA?si=CEvsvjKtTJkju1aa" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/JUMPING_JACK.gif" alt="점핑 잭"></a>
            <span class="text">점핑 잭</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/RZLy2ZhMvHc?si=q0RCqdjdhsuoy4ie" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BAR_MU.gif" alt="바 머슬업"></a>
            <span class="text">바 머슬업</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/IN0Z1HXWSDY?si=J1qy3st9_wNq7PAk" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/RING_MU.gif" alt="링 머슬업"></a>
            <span class="text">링 머슬업</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/Ed69soS-dIM?si=yaGF3NRSnEQXlkwe" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_BURPEE.gif" alt="덤벨 버피"></a>
            <span class="text">덤벨 버피</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/8d_JOObQ2b8?si=0VBb7jw6RyP-vner" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_THRUSTER.gif" alt="덤벨 쓰러스터"></a>
            <span class="text">덤벨 쓰러스터</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/-hCkxECct2w?si=qBxfWA9Tcl_HciC7" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/INCHWORM.gif" alt="인치웜"></a>
            <span class="text">인치웜</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/eKjYtQaN8TU?si=E0UDN2DSH1G9Vq6F" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SUMO_DEAD_HIGH.gif" alt="스모 데드리프트 하이풀"></a>
            <span class="text">스모 데드리프트 하이풀</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/iHrZh0KowGI?si=SvR1mbm5y3_9YrLB" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/KB_SUMO_HIGH.gif" alt="케틀벨 스모 하이풀"></a>
            <span class="text">케틀벨 스모 하이풀</span>
        </div>
    </div>

    <div class="search-container">
        <input type="text" id="search-box" class="search-box" placeholder="운동 검색...">
        <button id="search-button" class="search-button">검색</button>
    </div>

    <script src="/scripts/search.js"></script>
    
</body>
</html>
