<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/shared.css" />
    <link rel="stylesheet" href="styles/leg_list.css"/>
</head>
<body>
    <%- include('includes/header') %>
    <%- include('includes/ex_fix') %>

    <h1 class="title">역도</h1>
    <div class="exercises-container">
        <div class="exercise">
            <a href="https://youtu.be/A3_aE56DCsw?si=ukO_LF_KwcSzPtnt" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_CLEAN.gif" alt="클린"></a>
            <span class="text">클린</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/epq6HJJAwpw?si=k6wWlMV7frzaaAw-" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_CNJ.gif" alt="클린&저크"></a>
            <span class="text">클린&저크</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/b2I3F5HYS0o?si=CBI5u_LeIgl0zdIj" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_JERK.gif" alt="저크"></a>
            <span class="text">저크</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/5GipmmgzbyQ?si=NJT2GdyYXSwEpXSg" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_SNATCH.gif" alt="스내치"></a>
            <span class="text">스내치</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/lt0NhQtPao0?si=lWyNsPrnFW9n60Xv" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_OH_SQT.gif" alt="바벨 오버헤드 스쿼트"></a>
            <span class="text">바벨 오버헤드 스쿼트</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/ZXFw-gk2gBw?si=XpYK6CeCB8i-YL8j" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/DB_SNATCH.gif" alt="덤벨 스내치"></a>
            <span class="text">덤벨 스내치</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/hCwtTxQ8Iu4?si=sv7ytniXL0lUVzfq" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/KB_SNATCH.gif" alt="케틀벨 스내치"></a>
            <span class="text">케틀벨 스내치</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/O8eHkVwggEY?si=tgjuTSsxZf00v2Yf" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/BB_SNATCH_BAL.gif" alt="스내치 밸런스"></a>
            <span class="text">스내치 밸런스</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/9DY22a5Zc9I?si=PxybxX9KuYHUSrbP" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/WEI_HANG_KNEE_RAISE.gif" alt="중량 행잉 니 레이즈"></a>
            <span class="text">중량 행잉 니 레이즈</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/ybACnGoUh5E?si=PFMfq8iVdJ8XsNei" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/CLEAN_HIGH_PULL.gif" alt="클린 하이풀"></a>
            <span class="text">클린 하이풀</span>
        </div>
        <div class="exercise">
            <a href="https://youtu.be/o1bQB9fpE9w?si=EQeh_8xzX1D305QI" target="_blank"><img src="https://burnfit.io/wp-content/uploads/2023/11/SNATCH_HIGH_PULL.gif" alt="스내치 하이풀"></a>
            <span class="text">스내치 하이풀</span>
        </div>
    </div>

    <div class="search-container">
        <input type="text" id="search-box" class="search-box" placeholder="운동 검색...">
        <button id="search-button" class="search-button">검색</button>
    </div>

    <script src="/scripts/search.js"></script>
</body>
    
</body>
<%- include('includes/footer') %>
</html>
