<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/shared.css" />
    <link rel="stylesheet" href="styles/leg_list.css"/>
</head>
<body>
    <%- include('includes/header') %>
    <%- include('exercise/ex_fix') %>
    <%- include('exercise/ex_etc') %>

    <h1 class="title">기타</h1>
    
</body>
</html>