<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/shared.css">
    <link rel="stylesheet" href="styles/login.css">
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
        <form action="/login" class="input-group" method="post">
            <img src="어두운달력.png" alt="">
            <section>
                <h2>Healancaler</h2>
                <div>
                    <input type="text" name="userid" class="input-field" placeholder="아이디" id="id" required>
                </div>
                <div> 
                    <input type="password" name="userpw" class="input-field" placeholder="비밀번호" id="pw" required>
                </div>
            </section>

            <section>
                <button id="btn-login" type="submit">로그인</button>
            </section>
        </form>

        <div id="a-find-total">
            <a href="looking-for-pw" class="a-find">비밀번호 찾기</a>
            <span> | </span>
            <a href="looking-for-id" class="a-find">아이디 찾기</a>
            <span> | </span>
            <a id="a-join" href="/join" class="a-find">회원가입</a>      
        </div>

        <% if (message) { %>
            <div style="text-align: center; margin-top: -22.3px;">
                <p style="color: red; font-size: 9px;"><%= message %></p>
            </div>
        <% } %>
        
    </main>
  </body>
</html>
