    * {
        margin: 0;
    }

    body {
        font-family: 'Noto Sans Kr';
        text-align: center;
        margin: 0;
        padding: 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    header {    
        font-family : 'Oleo Script Swash Caps';
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: 80px;
        box-sizing: border-box;
        margin: 0;
        padding: 10px 20px;
        background-color: rgb(11, 154, 167);
        border: none;
    }

    #logo-img{
        text-decoration: none;
        width: 55px;
        height: 55px;
        position: relative;
        top: 17px;
        bottom: 8px;
    }

    .logo-text {
        padding: 0.5px;
        color: white;  
        text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
        text-decoration: none;
        font-size : 28px;
        position: relative;
        bottom: 15px;
    }

    header ul {
        display: flex; 
    }

    header li {
        margin: 0 8px;
        font-weight: bold;
    }

    .nav {
        color: white;
        text-decoration: none;
        font-size: 16px;
        padding: 16px;
    }

    .nav:hover {
        color: #B6E8C2;
    }

    /* main 시작 */
    .container1 {
        background-color: rgb(11, 154, 167);
        border-top: 1px solid rgb(0, 53, 89);
    }

    .h2 {
        color: white;
        text-align: left;
        padding-left: 50px;
        padding-top: 10px;
        font-size: 35px;
        text-shadow: 1.5px 1.5px 6px rgb(0, 0, 0, 0.2);
    }

    .profile {
        padding-left: 20px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .profile .photo {
        text-align: center;
        margin-bottom: 50px;
    }

    .profile .photo-placeholder {
        width: 150px;
        height: 150px;
        background-color: #ddd;
        border-radius: 50%;
        margin: 0 auto 30px;
        background-size: cover;
        background-position: center;
    }

    .profile .photo p {
        font-size: 13px;
    }

    .profile-photo-btn {
        margin-top: 7px;
        background-color: rgb(55, 196, 170);
        border-radius: 6px;
        border: none;  /* Ensure there is no border */
        padding: 6px 12px;
        color: rgb(0, 53, 89);
        font-weight: 800;
        box-shadow: none;  /* Remove shadow */
    }

    .profile-photo-btn:hover {
        background-color: rgb(0, 53, 89);
        color: rgb(11, 154, 167);
    }

    .container2 {
        display: flex;
        justify-content: space-around;
    }

    .nickname-box {
        margin-left: -50px;
    }

    .nickname-box h3 {
        font-size: 30px;
        color: white;
    }

    .nickname-box a,
    .D-DAY a {
        font-size: 15px;
        text-decoration: none;
        color: rgb(76, 76, 76);
    }

    .nickname-box a:hover,
    .D-DAY a:hover {
        color: #B6E8C2;
    }

    .D-DAY {
        margin-top: 20px;
        margin-right: 100px;
        color: white;
    }

    .D-DAY h2 {
        font-size: 120px;
        text-align: left;   
    }

    .User_info {
        width: 60%;
        margin: 20px auto;
        padding: 20px auto;
    }

    .User_info h2 {
        font-weight: bold;
        padding-bottom: 20px;
        border-bottom: 3px solid rgb(55, 196, 170);
        padding-left: 30px;
        text-align: left;
    }

    .basic-info {
        margin-top: 20px;
    }

    .User_info .info-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        align-items: center;
    }

    .User_info .info-row label {
        width: 120px;
        padding: 0 20px;
    }

    .User_info .info-row span {
        flex: 1;
        font-weight: bold;
    }

    .User_info .info-row .btn {
        width: 100px;
        border: 0.3px solid rgb(0, 53, 89);
        cursor: pointer;
        color: black;
        text-align: center;
        font-size: 12px;
        text-decoration: none;
        padding: 10px 0;
        margin: 0;
    }

    .User_info .info-row .btn:hover {
        border-color: rgb(11, 154, 167);
        color: rgb(11, 154, 167);
        font-weight: 600;
    }

    .mypage-container ul {
        list-style-type: none;
        padding: 0;
    }

    .mypage-container ul li {
        padding: 0;
    }

    .mypage-container ul li strong {
        display: inline-block;
        width: 80px;
    }

    .board_and_comment {
        margin: 120px auto 80px auto;
    }

    .board-use-record {
        margin-top: 20px;
    }

    .my-board {
        width: 120px;
    }

    .record-list a {
        margin: 0;
        text-decoration: none;
        color: black;
        display: block;
        text-align: center;
        margin-bottom: 20px;
        padding-left: 30px;
        font-weight: bold;
    }

    .record-list a:hover {
        color: rgb(55, 196, 170)
    }

    .change-info-row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .change-info-row label {
        width: 120px;
    }

    .new-button {
        display: flex;
        flex-direction: column;
    }

    .new-input {
        font-size: 14px;
        border: 1px solid rgb(11, 154, 167);
        padding: 6px 8px;
    }

    .new-button button {
        width: 100px;
        padding: 10px 0;
        border: 0.3px solid rgb(0, 53, 89);
        margin-bottom: 8px;
    }

    .new-button button:hover {
        border: 1px solid rgb(11, 154, 167);
        color: rgb(11, 154, 167);
        font-weight: 600;
    }


    .User_inbody {
        width: 60%;
        margin: 120px auto;
        padding: 20px auto;
    }

    .User_inbody h2 {
        font-weight: bold;
        padding-bottom: 20px;
        border-bottom: 3px solid rgb(55, 196, 170);
        padding-left: 30px;
        text-align: left;
    }

    .User_inbody .info-row {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        align-items: center;
    }

    .User_inbody .info-row label {
        width: 120px;
        padding: 0 20px;
    }

    .User_inbody .info-row span {
        flex: 1;
        font-weight: bold;
    }

    .use-flex {
        width: 100px;
        display: block;
    }
