<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/head')%>
    <link rel="stylesheet" href="styles/update-board.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <%- include('includes/header')%>
    <div class="container">
        <%- include('includes/aside')%>
        <main class="main-content">
            <h1>정보게시판 글쓰기</h1>
            <form action="/save-info-board" method="post">
                <input type="text" name="title" placeholder="제목을 입력해 주세요." class="title-input">

                <div class="file-input-container">
                    <input type="file" name="picture" accept="image/*" class="file-input">
                    <button type="button" class="attach-button" onclick="uploadFile()">첨부</button>
                </div>
                
                <textarea placeholder="내용을 입력해 주세요." name="content"></textarea>
                <button type="submit" class="button">등록</button>
            </form>
        </main>
    </div>
    <script>
        function uploadFile() {
            var formData = new FormData();
            var fileInput = document.querySelector('.file-input');
            var file = fileInput.files[0];
            if (file) {
                formData.append('picture', file);

                $.ajax({
                    url: '/photo',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        alert('파일이 업로드되었습니다.');
                        // 파일 업로드 성공 후 작성하던 화면으로 돌아옴
                    },
                    error: function(error) {
                        alert('파일 업로드에 실패했습니다.');
                    }
                });
            } else {
                alert('파일을 선택해 주세요.');
            }
        }
    </script>
</body>
<%- include('includes/footer') %>
</html>


