<aside class="sidebar">
    <div class="profile">
        <div class="profile-image">
            <img src="<%= user && user.profilePhoto ? user.profilePhoto : '/기본프로필.png'%>" alt="프로필 사진">
        </div>
        <div class="profile-name"><%= user ? user.name_join : '' %></div>
        <form method="GET" action="/go-my-page">
            <button class="profile-button">내 정보</button>
        </form>
        <form method="GET" action="/logout">
            <button class="profile-button">로그아웃</button>
        </form>
    </div>
    <hr>
    <div class="menu">
        <ul>
            <li><a href="/free-board">자유게시판</a></li>
            <li><a href="/end-board">오운완게시판</a></li>
            <li><a href="/info-board">정보게시판</a></li>
            <li><a href="/child-board">헬린이게시판</a></li>
            <li><a href="/ghwm-board">G.H.W.M 게시판</a></li>
        </ul>
    </div>
</aside>
