<ex_list>
    <aside class="sidebar">
        <div class="profile">
            <div class="profile-image"></div>
            <div class="profile-name"><%= user ? user.name : '' %></div>
            <button class="profile-button">내 정보</button>
            <form method="POST" action="/logout">
                <button type="submit" class="profile-button">로그아웃</button>
            </form>
        </div>
        <hr>
        <div class="menu">
            <ul>
                <li><a href="list_leg">하체</a></li>
                <li><a href="list_chest">가슴</a></li>
                <li><a href="list_shoulder">어깨</a></li>
                <li><a href="list_abs">복근</a></li>
                <li><a href="list_back">등</a></li>
                <li><a href="list_arm">팔</a></li>
                <li><a href="list_cardio">유산소</a></li>
                <li><a href="list_weight">역도</a></li>
                <li><a href="list_etc">기타</a></li>
            </ul>
        </div>
    </aside>
    <link rel="stylesheet" href="styles/leg_list.css">
</ex_list>

<search_container>
    <link rel="stylesheet" href="styles/leg_list.css">
    <div class="search-container">
        <input type="text" class="search-box">
        <button class="search-button">검색</button>
    </div>    
</search_container>
