<optgroup label="하체" style="font-size: larger; font-weight: 600; color: rgb(55, 196, 170);" >
    <option value="컨벤셔널 데드리프트">컨벤셔널 데드리프트</option>
    <option value="바벨 백스쿼트">바벨 백스쿼트</option>
    <option value="스미스머신 스플릿 스쿼트">스미스머신 스플릿 스쿼트</option>
    <option value="스미스머신 데드리프트">스미스머신 데드리프트</option>
    <option value="스미스머신 스쿼트">스미스머신 스쿼트</option>
    <option value="덤벨 런지">덤벨 런지</option>
    <option value="덤벨 고블릿 스쿼트">덤벨 고블릿 스쿼트</option>
    <option value="덤벨 스티프 레그 데드리프트">덤벨 스티프 레그 데드리프트</option>
    <option value="프론트 스쿼트">프론트 스쿼트</option>
    <option value="저처 스쿼트">저처 스쿼트</option>
    <option value="바벨 불가리안 스플릿 스쿼트">바벨 불가리안 스플릿 스쿼트</option>
    <option value="덤벨 불가리안 스플릿 스쿼트">덤벨 불가리안 스플릿 스쿼트</option>
    <option value="덤벨 스플릿 스쿼트">덤벨 스플릿 스쿼트</option>
    <option value="맨몸 스플릿 스쿼트">맨몸 스플릿 스쿼트</option>
    <option value="에어 스쿼트">에어 스쿼트</option>
    <option value="점프 스쿼트">점프 스쿼트</option>
    <option value="케틀벨 고블릿 스쿼트">케틀벨 고블릿 스쿼트</option>
    <option value="루마니안 데드리프트">루마니안 데드리프트</option>
    <option value="스모 데드리프트">스모 데드리프트</option>
    <option value="레그 프레스">레그 프레스</option>
    <option value="레그 컬">레그 컬</option>
    <option value="레그 익스텐션">레그 익스텐션</option>
    <option value="스탠딩 카프 레이즈">스탠딩 카프 레이즈</option>
    <option value="이너 싸이 머신">이너 싸이 머신</option>
    <option value="런지">런지</option>
    <option value="스텝업">스텝업</option>
    <option value="중량 스텝업">중량 스텝업</option>
    <option value="힙 쓰러스트">힙 쓰러스트</option>
    <option value="바벨 힙 쓰러스트">바벨 힙 쓰러스트</option>
    <option value="브이 스쿼트">브이 스쿼트</option>
    <option value="리버스 브이 스쿼트">리버스 브이 스쿼트</option>
    <option value="글루트 킥백 머신">글루트 킥백 머신</option>
    <option value="힙 어브덕션 머신">힙 어브덕션 머신</option>
    <option value="시티드 카프 레이즈">시티드 카프 레이즈</option>
    <option value="정지 백 스쿼트">정지 백 스쿼트</option>
    <option value="트랩바 데드리프트">트랩바 데드리프트</option>
    <option value="케이블 힙 어브덕션">케이블 힙 어브덕션</option>
    <option value="핵 스쿼트 머신">핵 스쿼트 머신</option>
    <option value="정지 데드리프트">정지 데드리프트</option>
    <option value="정지 스모 데드리프트">정지 스모 데드리프트</option>
    <option value="바벨 박스 스쿼트">바벨 박스 스쿼트</option>
    <option value="바벨 프론트 랙 런지">바벨 프론트 랙 런지</option>
    <option value="바벨 점프 스쿼트">바벨 점프 스쿼트</option>
    <option value="바벨 런지">바벨 런지</option>
    <option value="바벨 레터럴 런지">바벨 레터럴 런지</option>
    <option value="바벨 스플릿 스쿼트">바벨 스플릿 스쿼트</option>
    <option value="바벨 스탠딩 카프 레이즈">바벨 스탠딩 카프 레이즈</option>
    <option value="스티프 레그 데드리프트">스티프 레그 데드리프트</option>
    <option value="맨몸 오버헤드 스쿼트">맨몸 오버헤드 스쿼트</option>
    <option value="덤벨 스모 스쿼트">덤벨 스모 스쿼트</option>
    <option value="덤벨 레그 컬">덤벨 레그 컬</option>
    <option value="덤벨 스쿼트">덤벨 스쿼트</option>
    <option value="바벨 핵 스쿼트">바벨 핵 스쿼트</option>
    <option value="시티드 레그 컬">시티드 레그 컬</option>
    <option value="힙 쓰러스트 머신">힙 쓰러스트 머신</option>
    <option value="맨몸 카프레이즈">맨몸 카프레이즈</option>
    <option value="글루트 브릿지">글루트 브릿지</option>
    <option value="덤벨 루마니안 데드리프트">덤벨 루마니안 데드리프트</option>
    <option value="라잉 힙 어브덕션">라잉 힙 어브덕션</option>
    <option value="싱글 레그 글루트 브릿지">싱글 레그 글루트 브릿지</option>
    <option value="피스툴 박스 스쿼트">피스툴 박스 스쿼트</option>
    <option value="사이드 라잉 클램">사이드 라잉 클램</option>
    <option value="맨몸 원레그 데드리프트">맨몸 원레그 데드리프트</option>
    <option value="바벨 원레그 데드리프트">바벨 원레그 데드리프트</option>
    <option value="덤벨 원레그 데드리프트">덤벨 원레그 데드리프트</option>
    <option value="케틀벨 데드리프트">케틀벨 데드리프트</option>
    <option value="케틀벨 스모 데드리프트">케틀벨 스모 데드리프트</option>
    <option value="덤벨 스모 데드리프트">덤벨 스모 데드리프트</option>
    <option value="덤벨 레터럴 런지">덤벨 레터럴 런지</option>
    <option value="케틀벨 레터럴 런지">케틀벨 레터럴 런지</option>
    <option value="맨몸 레터럴 런지">맨몸 레터럴 런지</option>
    <option value="원레그 익스텐션">원레그 익스텐션</option>
    <option value="원레그 컬">원레그 컬</option>
    <option value="원레그 프레스">원레그 프레스</option>
    <option value="수평 레그 프레스">수평 레그 프레스</option>
    <option value="수평 원레그 프레스">수평 원레그 프레스</option>
    <option value="시티드 원레그 컬">시티드 원레그 컬</option>
    <option value="노르딕 햄스트링 컬">노르딕 햄스트링 컬</option>
    <option value="바벨 스모 스쿼트">바벨 스모 스쿼트</option>
    <option value="커틀벨 스모 스쿼트">커틀벨 스모 스쿼트</option>
    <option value="스모 에어 스쿼트">스모 에어 스쿼트</option>
    <option value="피스톨 스쿼트">피스톨 스쿼트</option>
    <option value="덩키 킥">덩키 킥</option>
    <option value="케이블 덩키 킥">케이블 덩키 킥</option>
    <option value="데피핏 데드리프트">데피핏 데드리프트</option>
    <option value="런지 트위스트">런지 트위스트</option>
    <option value="케틀벨 런지 트위스트">케틀벨 런지 트위스트</option>
    <option value="케이블 풀 스루">케이블 풀 스루</option>
    <option value="몬스터 글루트 머신">몬스터 글루트 머신</option>
  <optgroup label="가슴" style="font-size: larger; font-weight: 600; color: rgb(55, 196, 170);">
    <option value="벤치프레스">벤치프레스</option>
    <option value="스미스머신 벤치프레스">스미스머신 벤치프레스</option>
    <option value="스미스머신 인클라인 벤치프레스">스미스머신 인클라인 벤치프레스</option>
    <option value="덤벨 벤치프레스">덤벨 벤치프레스</option>
    <option value="인클라인 덤벨 벤치프레스">인클라인 덤벨 벤치프레스</option>
    <option value="덤벨 플라이">덤벨 플라이</option>
    <option value="스탠딩 케이블 플라이">스탠딩 케이블 플라이</option>
    <option value="인클라인 벤치프레스">인클라인 벤치프레스</option>
    <option value="딥스">딥스</option>
    <option value="중량 딥스">중량 딥스</option>
    <option value="인클라인 덤벨 플라이">인클라인 덤벨 플라이</option>
    <option value="푸시업">푸시업</option>
    <option value="중량 푸시업">중량 푸시업</option>
    <option value="힌두 푸시업">힌두 푸시업</option>
    <option value="아처 푸시업">아처 푸시업</option>
    <option value="클로즈그립 푸시업">클로즈그립 푸시업</option>
    <option value="체스트 프레스 머신">체스트 프레스 머신</option>
    <option value="펙덱 플라이 머신">펙덱 플라이 머신</option>
    <option value="인클라인 벤치프레스 머신">인클라인 벤치프레스 머신</option>
    <option value="덤벨 풀오버">덤벨 풀오버</option>
    <option value="시티드 딥스 머신">시티드 딥스 머신</option>
    <option value="로우 풀리 케이블 플라이">로우 풀리 케이블 플라이</option>
    <option value="해머 벤치프레스">해머 벤치프레스</option>
    <option value="스포토 벤치프레스">스포토 벤치프레스</option>
    <option value="어시스트 딥스 머신">어시스트 딥스 머신</option>
    <option value="디클라인 벤치프레스">디클라인 벤치프레스</option>
    <option value="바벨 플로어 프레스">바벨 플로어 프레스</option>
    <option value="클랩 푸시업">클랩 푸시업</option>
    <option value="디클라인 덤벨 플라이">디클라인 덤벨 플라이</option>
    <option value="인클라인 덤벨 트위스트 프레스">인클라인 덤벨 트위스트 프레스</option>
    <option value="인클라인 케이블 플라이">인클라인 케이블 플라이</option>
  </optgroup>
  <optgroup label="어깨" style="font-size: larger; font-weight: 600; color: rgb(55, 196, 170);">
    <option value="오버헤드 프레스">오버헤드 프레스</option>
    <option value="스미스머신 오버헤드 프레스">스미스머신 오버헤드 프레스</option>
    <option value="스미스머신 슈러그">스미스머신 슈러그</option>
    <option value="덤벨 숄더 프레스">덤벨 숄더 프레스</option>
    <option value="덤벨 레터럴 레이즈">덤벨 레터럴 레이즈</option>
    <option value="벤트오버 덤벨 레터럴 레이즈">벤트오버 덤벨 레터럴 레이즈</option>
    <option value="아놀드 덤벨 프레스">아놀드 덤벨 프레스</option>
    <option value="숄더 프레스 머신">숄더 프레스 머신</option>
    <option value="비하인드 넥 프레스">비하인드 넥 프레스</option>
    <option value="덤벨 프론트 레이즈">덤벨 프론트 레이즈</option>
    <option value="덤벨 슈러그">덤벨 슈러그</option>
    <option value="바벨 슈러그">바벨 슈러그</option>
    <option value="페이스 풀">페이스 풀</option>
    <option value="핸드스탠드">핸드스탠드</option>
    <option value="핸드스탠드 푸시업">핸드스탠드 푸시업</option>
    <option value="바벨 업라이트 로우">바벨 업라이트 로우</option>
    <option value="덤벨 업라이트 로우">덤벨 업라이트 로우</option>
    <option value="이지바 업라이트 로우">이지바 업라이트 로우</option>
    <option value="푸시 프레스">푸시 프레스</option>
    <option value="리어 델토이드 플라이머신">리어 델토이드 플라이머신</option>
    <option value="레터럴 레이즈 머신">레터럴 레이즈 머신</option>
    <option value="케이블 레터럴 레이즈">케이블 레터럴 레이즈</option>
    <option value="케이블 프론트 레이즈">케이블 프론트 레이즈</option>
    <option value="바벨 프론트 레이즈">바벨 프론트 레이즈</option>
    <option value="이지바 프론트 레이즈">이지바 프론트 레이즈</option>
    <option value="시티드 덤벨 리어 레터럴 레이즈">시티드 덤벨 리어 레터럴 레이즈</option>
    <option value="숄더 탭">숄더 탭</option>
    <option value="시티드 바벨 숄더 프레스">시티드 바벨 숄더 프레스</option>
    <option value="시티드 덤벨 숄더 프레스">시티드 덤벨 숄더 프레스</option>
    <option value="플레이트 숄더 프레스">플레이트 숄더 프레스</option>
    <option value="Y 레이즈">Y 레이즈</option>
    <option value="덤벨 Y 레이즈">덤벨 Y 레이즈</option>
    <option value="슈러그 머신">슈러그 머신</option>
    <option value="케이블 슈러그">케이블 슈러그</option>
    <option value="케이블 인터널 로테이션">케이블 인터널 로테이션</option>
    <option value="케이블 익스터널 로테이션">케이블 익스터널 로테이션</option>
    <option value="원암 케이블 레터럴 레이즈">원암 케이블 레터럴 레이즈</option>
    <option value="랜드마인 프레스">랜드마인 프레스</option>
    <option value="원암 랜드마인 프레스">원암 랜드마인 프레스</option>
  </optgroup>
    <optgroup label="복근" style="font-size: larger; font-weight: 600; color: rgb(55, 196, 170);">
    <option value="싯업">싯업</option>
    <option value="크런치">크런치</option>
    <option value="힐터치">힐터치</option>
    <option value="레그 레이즈">레그 레이즈</option>
    <option value="행잉 레그 레이즈">행잉 레그 레이즈</option>
    <option value="할로우 포지션">할로우 포지션</option>
    <option value="플랭크">플랭크</option>
    <option value="덤벨 사이드 밴드">덤벨 사이드 밴드</option>
    <option value="복근롤아웃">복근롤아웃</option>
    <option value="복근 에어 바이크">복근 에어 바이크</option>
    <option value="행 클린">행 클린</option>
    <option value="행 스내치">행 스내치</option>
    <option value="필라테스 잭나이프">필라테스 잭나이프</option>
    <option value="리버스 크런치">리버스 크런치</option>
    <option value="사이드 플랭크">사이드 플랭크</option>
    <option value="45도 사이드 밴드">45도 사이드 밴드</option>
    <option value="RKC 플랭크">RKC 플랭크</option>
    <option value="케이블 사이드 밴드">케이블 사이드 밴드</option>
    <option value="중량 디클라인 크런치">중량 디클라인 크런치</option>
    <option value="디클라인 싯업">디클라인 싯업</option>
    <option value="중량 디클라인 싯업">중량 디클라인 싯업</option>
    <option value="사이드 크런치">사이드 크런치</option>
    <option value="케이블 트위스트">케이블 트위스트</option>
  </optgroup>
    <optgroup label="등" style="font-size: larger; font-weight: 600; color: rgb(55, 196, 170);">
    <option value="덤벨 로우">덤벨 로우</option>
    <option value="원암 덤벨 로우">원암 덤벨 로우</option>
    <option value="케이블 암 풀다운">케이블 암 풀다운</option>
    <option value="시티드 케이블 로우">시티드 케이블 로우</option>
    <option value="굿모닝 엑서사이즈">굿모닝 엑서사이즈</option>
    <option value="풀업">풀업</option>
    <option value="중량 풀업">중량 풀업</option>
    <option value="친업">친업</option>
    <option value="중량 친업">중량 친업</option>
    <option value="인클라인 바벨 로우">인클라인 바벨 로우</option>
    <option value="인클라인 덤벨 로우">인클라인 덤벨 로우</option>
    <option value="인버티드 로우">인버티드 로우</option>
    <option value="바벨 풀오버">바벨 풀오버</option>
    <option value="시티드 로우 머신">시티드 로우 머신</option>
    <option value="랫풀다운">랫풀다운</option>
    <option value="중량 하이퍼 익스텐션">중량 하이퍼 익스텐션</option>
    <option value="백 익스텐션">백 익스텐션</option>
    <option value="티바 로우 머신">티바 로우 머신</option>
    <option value="맥그립 랫풀다운">맥그립 랫풀다운</option>
    <option value="패러럴그립 랫풀다운">패러럴그립 랫풀다운</option>
    <option value="정지 바벨 로우">정지 바벨 로우</option>
    <option value="어시스트 풀업 머신">어시스트 풀업 머신</option>
    <option value="플로어 시티드 케이블 로우">플로어 시티드 케이블 로우</option>
    <option value="언더그립 바벨 로우">언더그립 바벨 로우</option>
    <option value="라잉 바벨 로우">라잉 바벨 로우</option>
    <option value="비하인드 넥 풀다운">비하인드 넥 풀다운</option>
    <option value="원암 케이블 풀다운">원암 케이블 풀다운</option>
    <option value="원암 레터럴 와이드 풀다운">원암 레터럴 와이드 풀다운</option>
    <option value="로우 로우 머신">로우 로우 머신</option>
    <option value="원암 로우 로우 머신">원암 로우 로우 머신</option>
    <option value="하이 로우 머신">하이 로우 머신</option>
    <option value="언더그립 하이 로우 머신">언더그립 하이 로우 머신</option>
    <option value="원암 하이 로우 머신">원암 하이 로우 머신</option>
    <option value="원암 시티드 케이블 로우">원암 시티드 케이블 로우</option>
  </optgroup>
  <optgroup label="팔" style="font-size: larger; font-weight: 600; color: rgb(55, 196, 170);">
    <option value="덤벨 트라이셉 익스텐션">덤벨 트라이셉 익스텐션</option>
    <option value="덤벨 킥백">덤벨 킥백</option>
    <option value="케이블 푸시 다운">케이블 푸시 다운</option>
    <option value="바벨 컬">바벨 컬</option>
    <option value="이지바 컬">이지바 컬</option>
    <option value="덤벨 해머 컬">덤벨 해머 컬</option>
    <option value="클로즈 그립 벤치프레스">클로즈 그립 벤치프레스</option>
    <option value="시티드 덤벨 트라이셉 익스텐션">시티드 덤벨 트라이셉 익스텐션</option>
    <option value="바벨 리스트 컬">바벨 리스트 컬</option>
    <option value="이지바 리스트 컬">이지바 리스트 컬</option>
    <option value="덤벨 리스트 컬">덤벨 리스트 컬</option>
    <option value="스컬 크러셔">스컬 크러셔</option>
    <option value="바벨 라잉 트라이셉 익스텐션">바벨 라잉 트라이셉 익스텐션</option>
    <option value="덤벨 프리쳐 컬">덤벨 프리쳐 컬</option>
    <option value="바벨 프리쳐 컬">바벨 프리쳐 컬</option>
    <option value="이지바 프리쳐 컬">이지바 프리쳐 컬</option>
    <option value="프리쳐 컬 머신">프리쳐 컬 머신</option>
    <option value="암 컬 머신">암 컬 머신</option>
    <option value="케이블 해머컬">케이블 해머컬</option>
    <option value="케이블 오버헤드 트라이셉 익스텐션">케이블 오버헤드 트라이셉 익스텐션</option>
    <option value="케이블 라잉 트라이셉 익스텐션">케이블 라잉 트라이셉 익스텐션</option>
    <option value="리버스 바벨 리스트 컬">리버스 바벨 리스트 컬</option>
    <option value="리버스 덤벨 리스트 컬">리버스 덤벨 리스트 컬</option>
    <option value="인클라인 덤벨 컬">인클라인 덤벨 컬</option>
    <option value="벤치 딥스">벤치 딥스</option>
    <option value="리스트 롤러">리스트 롤러</option>
    <option value="리버스 바벨 컬">리버스 바벨 컬</option>
    <option value="트라이셉 익스텐션 머신">트라이셉 익스텐션 머신</option>
  </optgroup>
    <optgroup label="유산소" style="font-size: larger; font-weight: 600; color: rgb(55, 196, 170);">
    <option value="트레드밀">트레드밀</option>
    <option value="싸이클">싸이클</option>
    <option value="로잉머신">로잉머신</option>
    <option value="계단 오르기">계단 오르기</option>
    <option value="줄넘기">줄넘기</option>
    <option value="이단 뛰기">이단 뛰기</option>
    <option value="하이니 스킵">하이니 스킵</option>
    <option value="어썰트 바이크">어썰트 바이크</option>
    <option value="스텝밀">스텝밀</option>
    <option value="걷기">걷기</option>
    <option value="달리기">달리기</option>
  </optgroup>
  <optgroup label="역도" style="font-size: larger; font-weight: 600; color: rgb(55, 196, 170);">
    <option value="클린">클린</option>
    <option value="클린&저크">클린&저크</option>
    <option value="저크">저크</option>
    <option value="스내치">스내치</option>
    <option value="바벨 오버헤드 스쿼트">바벨 오버헤드 스쿼트</option>
    <option value="덤벨 스내치">덤벨 스내치</option>
    <option value="케틀벨 스내치">케틀벨 스내치</option>
    <option value="스내치 밸런스">스내치 밸런스</option>
    <option value="중량 행잉 니 레이즈">중량 행잉 니 레이즈</option>
    <option value="클린 하이풀">클린 하이풀</option>
    <option value="스내치 하이풀">스내치 하이풀</option>
  </optgroup>
  <optgroup label="기타" style="font-size: larger; font-weight: 600; color: rgb(55, 196, 170);">
    <option value="쓰러스터">쓰러스터</option>
    <option value="버피">버피</option>
    <option value="케틀벨 스윙">케틀벨 스윙</option>
    <option value="파머스 워크">파머스 워크</option>
    <option value="월볼 샷">월볼 샷</option>
    <option value="마운틴 클라이머">마운틴 클라이머</option>
    <option value="박스 점프">박스 점프</option>
    <option value="점핑 잭">점핑 잭</option>
    <option value="바 머슬업">바 머슬업</option>
    <option value="링 머슬업">링 머슬업</option>
    <option value="덤벨 버피">덤벨 버피</option>
    <option value="덤벨 쓰러스터">덤벨 쓰러스터</option>
    <option value="인치웜">인치웜</option>
    <option value="스모 데드리프트 하이풀">스모 데드리프트 하이풀</option>
    <option value="케틀벨 스모 하이풀">케틀벨 스모 하이풀</option> 
  </optgroup>