<footer>
  <div class="footer">
    <nav>
      <a
        href="https://www.notion.so/IFive-06ce2ea8ff5847eaa5c9f47a6106a5ef?pvs=4"
        target="_blank"
        >Notion</a
      >
      |
      <a href="https://github.com/wndud107/team-project.git" target="_blank"
        >Github</a
      >
    </nav>
    <p>
      <span>저자 : 아이파이브</span><br />
      <span>이메일 : Ifive666@gmail.com</span><br />
      <span>Copyright 2024. 아이파이브. All Rights Reserved.</span>
    </p>
  </div>
</footer>
