<header>
    <div>
        <a href="/index" class="logo-text"><img src="/logo_icon.png" alt="" id="logo-img">Healancaler</a>
    </div>
        <nav>
            <ul>
                <li><a href="diary" class="nav">다이어리</a></li>
                <li><a href="main-board" class="nav">커뮤니티</a></li>
                <li><a href="list_leg" class="nav" >운동법</a></li>
                <% if (user) { %>
                    <li><a href="/my-page" class="nav">마이페이지</a></li>
                    <li><a href="/logout" class="nav" id="Login-to-Logout" action="logout">로그아웃</a></li>
                <% } else { %>
                    <li><a href="login" class="nav" id="Login-to-Logout">로그인</a></li>
                <% } %>
            </ul>
        </nav>
</header>
